@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/animate.css">
<link rel="stylesheet" href="~/css/owl.carousel.css">
<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/css/custom-style.css">
<link rel="stylesheet" href="~/font-awesome/css/all.css">
<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/owl.theme.default.css">



<!-- MAIN CSS -->
<link rel="stylesheet" href="~/css/tooplate-style.css">


<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />