@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "註冊確認";
}

<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/animate.css">
<link rel="stylesheet" href="~/css/owl.carousel.css">
<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/css/custom-style.css">
<link rel="stylesheet" href="~/font-awesome/css/all.css">
<link rel="stylesheet" href="~/css/index.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/owl.theme.default.css">



<!-- MAIN CSS -->
<link rel="stylesheet" href="~/css/tooplate-style.css">


<h2>@ViewData["Title"]</h2>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            目前尚未註冊真實電子郵件寄件人，請參閱 <a href="https://aka.ms/aspaccountconf">文件</a> 了解如何設定真實電子郵件寄件者。
            通常，這將透過電子郵件發送: <a id="confirm-link" href="@Model.EmailConfirmationUrl">點擊此處確認您的帳戶</a>
</p>
    }
    else
    {
<p>
        請檢查您的電子郵件以確認您的帳戶。
</p>
    }
}
