@charset "UTF-8";

.t5-animate[data-v-8c40f86b] {
    transform-origin: center;
    animation-duration: var(--t5-animate-duration, 2s);
    animation-timing-function: var(--t5-animate-timing-function, linear);
    animation-delay: var(--t5-animate-delay, 0s)
}

@keyframes bounce-8c40f86b {
    0%,20%,53%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: translateZ(0)
    }

    40%,43% {
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-30px,0) scaleY(1.1)
    }

    70% {
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-15px,0) scaleY(1.05)
    }

    80% {
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: translateZ(0) scaleY(.95)
    }

    90% {
        transform: translate3d(0,-4px,0) scaleY(1.02)
    }
}

.bounce[data-v-8c40f86b] {
    animation-name: bounce-8c40f86b;
    transform-origin: center bottom
}

@keyframes shakeX-8c40f86b {
    0%,to {
        transform: translateZ(0)
    }

    10%,30%,50%,70%,90% {
        transform: translate3d(-10px,0,0)
    }

    20%,40%,60%,80% {
        transform: translate3d(10px,0,0)
    }
}

.shake-x[data-v-8c40f86b] {
    animation-name: shakeX-8c40f86b
}

@keyframes shakeY-8c40f86b {
    0%,to {
        transform: translateZ(0)
    }

    10%,30%,50%,70%,90% {
        transform: translate3d(0,-10px,0)
    }

    20%,40%,60%,80% {
        transform: translate3d(0,10px,0)
    }
}

.shake-y[data-v-8c40f86b] {
    animation-name: shakeY-8c40f86b
}

@keyframes rotate-in-8c40f86b {
    0% {
        transform: rotate3d(0,0,1,-200deg);
        opacity: 0
    }

    to {
        transform: translateZ(0);
        opacity: 1
    }
}

.rotate-in[data-v-8c40f86b] {
    animation-name: rotate-in-8c40f86b
}

@keyframes rotateInDownLeft-8c40f86b {
    0% {
        transform: rotate3d(0,0,1,-45deg);
        opacity: 0
    }

    to {
        transform: rotate3d(0,0,0);
        opacity: 1
    }
}

.rotate-in-down-left[data-v-8c40f86b] {
    animation-name: rotateInDownLeft-8c40f86b;
    transform-origin: left bottom
}

@keyframes rotateInDownRight-8c40f86b {
    0% {
        transform: rotate3d(0,0,1,45deg);
        opacity: 0
    }

    to {
        transform: translateZ(0);
        opacity: 1
    }
}

.rotate-in-down-right[data-v-8c40f86b] {
    animation-name: rotateInDownRight-8c40f86b;
    transform-origin: right bottom
}

@keyframes rotateInUpLeft-8c40f86b {
    0% {
        transform: rotate3d(0,0,1,45deg);
        opacity: 0
    }

    to {
        transform: translateZ(0);
        opacity: 1
    }
}

.rotate-in-up-left[data-v-8c40f86b] {
    animation-name: rotateInUpLeft-8c40f86b;
    transform-origin: left bottom
}

@keyframes rotateInUpRight-8c40f86b {
    0% {
        transform: rotate3d(0,0,1,-90deg);
        opacity: 0
    }

    to {
        transform: translateZ(0);
        opacity: 1
    }
}

.rotate-in-up-right[data-v-8c40f86b] {
    animation-name: rotateInUpRight-8c40f86b;
    transform-origin: right bottom
}

@keyframes rotate-out-8c40f86b {
    0% {
        opacity: 1
    }

    to {
        transform: rotate3d(0,0,1,200deg);
        opacity: 0
    }
}

.rotate-out[data-v-8c40f86b] {
    animation-name: rotate-out-8c40f86b
}

@keyframes rotateOutDownLeft-8c40f86b {
    0% {
        opacity: 1
    }

    to {
        transform: rotate3d(0,0,1,45deg);
        opacity: 0
    }
}

.rotate-out-down-left[data-v-8c40f86b] {
    animation-name: rotateOutDownLeft-8c40f86b;
    transform-origin: left bottom
}

@keyframes rotateOutDownRight-8c40f86b {
    0% {
        opacity: 1
    }

    to {
        transform: rotate3d(0,0,1,-45deg);
        opacity: 0
    }
}

.rotate-out-down-right[data-v-8c40f86b] {
    animation-name: rotateOutDownRight-8c40f86b;
    transform-origin: right bottom
}

@keyframes rotateOutUpLeft-8c40f86b {
    0% {
        opacity: 1
    }

    to {
        transform: rotate3d(0,0,1,-45deg);
        opacity: 0
    }
}

.rotate-out-up-left[data-v-8c40f86b] {
    animation-name: rotateOutUpLeft-8c40f86b;
    transform-origin: left bottom
}

@keyframes rotateOutUpRight-8c40f86b {
    0% {
        opacity: 1
    }

    to {
        transform: rotate3d(0,0,1,90deg);
        opacity: 0
    }
}

.rotate-out-up-right[data-v-8c40f86b] {
    animation-name: rotateOutUpRight-8c40f86b;
    transform-origin: right bottom
}

@keyframes slideInUp-8c40f86b {
    0% {
        transform: translate3d(0,100%,0)
    }

    to {
        transform: translateZ(0)
    }
}

.slide-in-up[data-v-8c40f86b] {
    animation-name: slideInUp-8c40f86b
}

@keyframes slideInDown-8c40f86b {
    0% {
        transform: translate3d(0,-100%,0)
    }

    to {
        transform: translateZ(0)
    }
}

.slide-in-down[data-v-8c40f86b] {
    animation-name: slideInDown-8c40f86b
}

@keyframes slideInLeft-8c40f86b {
    0% {
        transform: translate3d(-100%,0,0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}

.slide-in-left[data-v-8c40f86b] {
    animation-name: slideInLeft-8c40f86b
}

@keyframes slideInRight-8c40f86b {
    0% {
        transform: translate3d(100%,0,0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}

.slide-in-right[data-v-8c40f86b] {
    animation-name: slideInRight-8c40f86b
}

.t5-line[data-v-8c40f86b] {
    width: 100%;
    height: 1px;
    line-height: 1px;
    box-sizing: border-box;
    background-color: #e2e2e2
}

.t5-print-only[data-v-8c40f86b] {
    display: none
}

@media only print {
    .t5-print-only[data-v-8c40f86b] {
        display: block
    }
}

.t5-print-only-block[data-v-8c40f86b] {
    display: none
}

@media only print {
    .t5-print-only-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-print-only-inline-block[data-v-8c40f86b] {
    display: none
}

@media only print {
    .t5-print-only-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-print-only-inline[data-v-8c40f86b] {
    display: none
}

@media only print {
    .t5-print-only-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-print-only-flex[data-v-8c40f86b] {
    display: none
}

@media only print {
    .t5-print-only-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-print-only-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only print {
    .t5-print-only-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-screen-only[data-v-8c40f86b] {
    display: none
}

@media only screen {
    .t5-screen-only[data-v-8c40f86b] {
        display: block
    }
}

.t5-screen-only-block[data-v-8c40f86b] {
    display: none
}

@media only screen {
    .t5-screen-only-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-screen-only-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen {
    .t5-screen-only-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-screen-only-inline[data-v-8c40f86b] {
    display: none
}

@media only screen {
    .t5-screen-only-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-screen-only-flex[data-v-8c40f86b] {
    display: none
}

@media only screen {
    .t5-screen-only-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-screen-only-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen {
    .t5-screen-only-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-xs-only[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-xs-only[data-v-8c40f86b] {
        display: block
    }
}

.t5-xs-only-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-xs-only-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-xs-only-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-xs-only-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-xs-only-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-xs-only-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-xs-only-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-xs-only-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-xs-only-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-xs-only-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-xs-and-up[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 0) {
    .t5-xs-and-up[data-v-8c40f86b] {
        display: block
    }
}

.t5-xs-and-up-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 0) {
    .t5-xs-and-up-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-xs-and-up-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 0) {
    .t5-xs-and-up-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-xs-and-up-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 0) {
    .t5-xs-and-up-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-xs-and-up-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 0) {
    .t5-xs-and-up-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-xs-and-up-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 0) {
    .t5-xs-and-up-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-sm-only[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-only[data-v-8c40f86b] {
        display: block
    }
}

.t5-sm-only-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-only-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-sm-only-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-only-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-sm-only-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-only-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-sm-only-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-only-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-sm-only-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-only-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-sm-and-down[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-and-down[data-v-8c40f86b] {
        display: block
    }
}

.t5-sm-and-down-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-and-down-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-sm-and-down-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-and-down-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-sm-and-down-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-and-down-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-sm-and-down-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-and-down-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-sm-and-down-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 459.98px) {
    .t5-sm-and-down-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-sm-and-up[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 460px) {
    .t5-sm-and-up[data-v-8c40f86b] {
        display: block
    }
}

.t5-sm-and-up-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 460px) {
    .t5-sm-and-up-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-sm-and-up-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 460px) {
    .t5-sm-and-up-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-sm-and-up-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 460px) {
    .t5-sm-and-up-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-sm-and-up-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 460px) {
    .t5-sm-and-up-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-sm-and-up-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 460px) {
    .t5-sm-and-up-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-md-only[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) and (max-width: 1199.98px) {
    .t5-md-only[data-v-8c40f86b] {
        display: block
    }
}

.t5-md-only-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) and (max-width: 1199.98px) {
    .t5-md-only-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-md-only-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) and (max-width: 1199.98px) {
    .t5-md-only-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-md-only-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) and (max-width: 1199.98px) {
    .t5-md-only-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-md-only-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) and (max-width: 1199.98px) {
    .t5-md-only-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-md-only-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) and (max-width: 1199.98px) {
    .t5-md-only-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-md-and-down[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-md-and-down[data-v-8c40f86b] {
        display: block
    }
}

.t5-md-and-down-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-md-and-down-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-md-and-down-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-md-and-down-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-md-and-down-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-md-and-down-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-md-and-down-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-md-and-down-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-md-and-down-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 849.98px) {
    .t5-md-and-down-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-md-and-up[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) {
    .t5-md-and-up[data-v-8c40f86b] {
        display: block
    }
}

.t5-md-and-up-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) {
    .t5-md-and-up-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-md-and-up-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) {
    .t5-md-and-up-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-md-and-up-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) {
    .t5-md-and-up-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-md-and-up-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) {
    .t5-md-and-up-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-md-and-up-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 850px) {
    .t5-md-and-up-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-lg-only[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
    .t5-lg-only[data-v-8c40f86b] {
        display: block
    }
}

.t5-lg-only-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
    .t5-lg-only-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-lg-only-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
    .t5-lg-only-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-lg-only-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
    .t5-lg-only-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-lg-only-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
    .t5-lg-only-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-lg-only-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) and (max-width: 1919.98px) {
    .t5-lg-only-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-lg-and-down[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 1199.98px) {
    .t5-lg-and-down[data-v-8c40f86b] {
        display: block
    }
}

.t5-lg-and-down-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 1199.98px) {
    .t5-lg-and-down-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-lg-and-down-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 1199.98px) {
    .t5-lg-and-down-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-lg-and-down-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 1199.98px) {
    .t5-lg-and-down-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-lg-and-down-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 1199.98px) {
    .t5-lg-and-down-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-lg-and-down-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (max-width: 1199.98px) {
    .t5-lg-and-down-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-lg-and-up[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) {
    .t5-lg-and-up[data-v-8c40f86b] {
        display: block
    }
}

.t5-lg-and-up-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) {
    .t5-lg-and-up-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-lg-and-up-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) {
    .t5-lg-and-up-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-lg-and-up-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) {
    .t5-lg-and-up-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-lg-and-up-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) {
    .t5-lg-and-up-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-lg-and-up-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1200px) {
    .t5-lg-and-up-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.t5-xl-only[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1920px) {
    .t5-xl-only[data-v-8c40f86b] {
        display: block
    }
}

.t5-xl-only-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1920px) {
    .t5-xl-only-block[data-v-8c40f86b] {
        display: block
    }
}

.t5-xl-only-inline-block[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1920px) {
    .t5-xl-only-inline-block[data-v-8c40f86b] {
        display: inline-block
    }
}

.t5-xl-only-inline[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1920px) {
    .t5-xl-only-inline[data-v-8c40f86b] {
        display: inline
    }
}

.t5-xl-only-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1920px) {
    .t5-xl-only-flex[data-v-8c40f86b] {
        display: flex
    }
}

.t5-xl-only-inline-flex[data-v-8c40f86b] {
    display: none
}

@media only screen and (min-width: 1920px) {
    .t5-xl-only-inline-flex[data-v-8c40f86b] {
        display: inline-flex
    }
}

.uploader[data-v-8c40f86b] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 209px;
    height: 156px;
    font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background: #fafafa;
    border: 1px dashed #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

    .uploader[data-v-8c40f86b]:hover {
        border: 1px dashed #456270
    }

.uploader .uploader-icon[data-v-8c40f86b] {
    width: 28px;
    height: 28px;
    margin-bottom: 14px;
    line-height: 28px;
    text-align: center;
    background-color: #a5c422;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAqCAYAAADBNhlmAAAAAXNSR0IArs4c6QAAATZJREFUWEftl0EuBUEQhr8/IsKGrTiBA1hYeXYO4Dp4uI4DWLKycAAnEFs2RERKOmmJPDNdWvdiRE0yq6qa+uerztQ/YuKXJq6PENg6oSAYBGsImNkG8CrppaaulNvtDJrZDnAFvAG7ku56iOwp8Ag4y6KOJZ1PTeAcOMmi5pJOQ2ANATMLgjXAvuUGwSZ8QBD8kwTNbBs4BJZ+8AIzYC/nXee155W9A5eSbscSR1edma0CD8C616Ux/gxsSXocek5JYHIm98BaowCv/AnYHHNARbOQHcrBwIhtoOv+lxEnV5PuxWuxXxrxRcn59HQzseq8s1KMx4e6CV+sulZ8QfCfEJz8b2dyPjfAMjArOZSagXVbdalpdkArY86kRthnbleBvxHg1YRAj5AXD4IeIS8eBD1CXvwDKOmVKwGlc04AAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border-radius: 50%
}

.uploader .upload-desc[data-v-8c40f86b] {
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    color: #4a4a4a
}
