@model LandVM
@{
    ViewData["Title"] = "悅聚房屋 | 最佳房屋選擇";
}
<head>

    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/PostAd.css">
    <link rel="stylesheet" href="~/css/PostAdSidebar.css">
    <link rel="stylesheet" href="~/css/ui.css">
    <link rel="stylesheet" href="~/css/upload.css">
    <link rel="stylesheet" href="~/css/upload1.css">


    <style data-vc-order="prependQueue" data-css-hash="5zau29" data-token-hash="b2lkp1">
        :where(.css-1gfaw2i)[class^="ant-radio"], :where(.css-1gfaw2i)[class*=" ant-radio"] {
            font-family: 微軟正黑體,"Microsoft JhengHei",arial,sans-serif;
            font-size: 14px;
            box-sizing: border-box;
        }

            :where(.css-1gfaw2i)[class^="ant-radio"]::before, :where(.css-1gfaw2i)[class*=" ant-radio"]::before, :where(.css-1gfaw2i)[class^="ant-radio"]::after, :where(.css-1gfaw2i)[class*=" ant-radio"]::after {
                box-sizing: border-box;
            }

            :where(.css-1gfaw2i)[class^="ant-radio"] [class^="ant-radio"], :where(.css-1gfaw2i)[class*=" ant-radio"] [class^="ant-radio"], :where(.css-1gfaw2i)[class^="ant-radio"] [class*=" ant-radio"], :where(.css-1gfaw2i)[class*=" ant-radio"] [class*=" ant-radio"] {
                box-sizing: border-box;
            }

                :where(.css-1gfaw2i)[class^="ant-radio"] [class^="ant-radio"]::before, :where(.css-1gfaw2i)[class*=" ant-radio"] [class^="ant-radio"]::before, :where(.css-1gfaw2i)[class^="ant-radio"] [class*=" ant-radio"]::before, :where(.css-1gfaw2i)[class*=" ant-radio"] [class*=" ant-radio"]::before, :where(.css-1gfaw2i)[class^="ant-radio"] [class^="ant-radio"]::after, :where(.css-1gfaw2i)[class*=" ant-radio"] [class^="ant-radio"]::after, :where(.css-1gfaw2i)[class^="ant-radio"] [class*=" ant-radio"]::after, :where(.css-1gfaw2i)[class*=" ant-radio"] [class*=" ant-radio"]::after {
                    box-sizing: border-box;
                }

        :where(.css-1gfaw2i).ant-radio-group {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #333;
            font-size: 0;
            line-height: 1.5715;
            list-style: none;
            font-family: 微軟正黑體,"Microsoft JhengHei",arial,sans-serif;
            display: inline-block;
        }

            :where(.css-1gfaw2i).ant-radio-group.ant-radio-group-rtl {
                direction: rtl;
            }

            :where(.css-1gfaw2i).ant-radio-group .ant-badge .ant-badge-count {
                z-index: 1;
            }

            :where(.css-1gfaw2i).ant-radio-group > .ant-badge:not(:first-child) > .ant-button-wrapper {
                border-inline-start: none;
            }

        :where(.css-1gfaw2i).ant-radio-wrapper {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #333;
            font-size: 14px;
            line-height: 1.5715;
            list-style: none;
            font-family: 微軟正黑體,"Microsoft JhengHei",arial,sans-serif;
            position: relative;
            display: inline-flex;
            align-items: baseline;
            margin-inline-start: 0;
            margin-inline-end: 8px;
            cursor: pointer;
        }

            :where(.css-1gfaw2i).ant-radio-wrapper.ant-radio-wrapper-rtl {
                direction: rtl;
            }

        :where(.css-1gfaw2i).ant-radio-wrapper-disabled {
            cursor: not-allowed;
            color: rgba(51, 51, 51, 0.25);
        }

        :where(.css-1gfaw2i).ant-radio-wrapper::after {
            display: inline-block;
            width: 0;
            overflow: hidden;
            content: "\a0";
        }

        :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-checked::after {
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;
            width: 100%;
            height: 100%;
            border: 1px solid #456270;
            border-radius: 50%;
            visibility: hidden;
            animation-name: css-1gfaw2i-antRadioEffect;
            animation-duration: 0.3s;
            animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            animation-fill-mode: both;
            content: "";
        }

        :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            color: #333;
            font-size: 14px;
            line-height: 1.5715;
            list-style: none;
            font-family: 微軟正黑體,"Microsoft JhengHei",arial,sans-serif;
            position: relative;
            display: inline-block;
            outline: none;
            cursor: pointer;
            align-self: center;
        }

        .ant-radio-wrapper:hover :where(.css-1gfaw2i).ant-radio-wrapper, :where(.css-1gfaw2i).ant-radio-wrapper:hover .ant-radio-inner {
            border-color: #ff8000;
        }

        :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-input:focus-visible + .ant-radio-inner {
            outline: 2px solid #ffca7a;
            outline-offset: 1px;
            transition: outline-offset 0s,outline 0s;
        }

        :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio:hover::after, .ant-radio-wrapper:hover :where(.css-1gfaw2i).ant-radio-wrapper::after {
            visibility: visible;
        }

        :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-inner {
            box-sizing: border-box;
            position: relative;
            inset-block-start: 0;
            inset-inline-start: 0;
            display: block;
            width: 16px;
            height: 16px;
            background-color: #ffffff;
            border-color: #d9d9d9;
            border-style: solid;
            border-width: 1px;
            border-radius: 50%;
            transition: all 0.2s;
        }

            :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-inner::after {
                box-sizing: border-box;
                position: absolute;
                inset-block-start: 50%;
                inset-inline-start: 50%;
                display: block;
                width: 16px;
                height: 16px;
                margin-block-start: -8px;
                margin-inline-start: -8px;
                background-color: #456270;
                border-block-start: 0;
                border-inline-start: 0;
                border-radius: 16px;
                transform: scale(0);
                opacity: 0;
                transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
                content: "";
            }

        :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-input {
            position: absolute;
            inset-block-start: 0;
            inset-inline-end: 0;
            inset-block-end: 0;
            inset-inline-start: 0;
            z-index: 1;
            cursor: pointer;
            opacity: 0;
        }

        :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
            border-color: #456270;
            background-color: #ffffff;
        }

            :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
                transform: scale(0.5);
                opacity: 1;
                transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
            }

        :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-disabled {
            cursor: not-allowed;
        }

            :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-disabled .ant-radio-inner {
                background-color: rgba(51, 51, 51, 0.04);
                border-color: #d9d9d9;
                cursor: not-allowed;
            }

                :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-disabled .ant-radio-inner::after {
                    background-color: rgba(51, 51, 51, 0.25);
                }

            :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-disabled .ant-radio-input {
                cursor: not-allowed;
            }

            :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-disabled .ant-radio-disabled + span {
                color: rgba(51, 51, 51, 0.25);
                cursor: not-allowed;
            }

            :where(.css-1gfaw2i).ant-radio-wrapper .ant-radio-disabled.ant-radio-checked .ant-radio-inner::after {
                transform: scale(0.5);
            }

        :where(.css-1gfaw2i).ant-radio-wrapper span.ant-radio + * {
            padding-inline-start: 8px;
            padding-inline-end: 8px;
        }

        :where(.css-1gfaw2i).ant-radio-button-wrapper {
            position: relative;
            display: inline-block;
            height: 32px;
            margin: 0;
            padding-inline: 15px;
            padding-block: 0;
            color: #333;
            font-size: 14px;
            line-height: 30px;
            background: #ffffff;
            border: 1px solid #d9d9d9;
            border-block-start-width: 1.02px;
            border-inline-start-width: 0;
            border-inline-end-width: 1px;
            cursor: pointer;
            transition: color 0.2s,background 0.2s,border-color 0.2s,box-shadow 0.2s;
        }

            :where(.css-1gfaw2i).ant-radio-button-wrapper a {
                color: #333;
            }

            :where(.css-1gfaw2i).ant-radio-button-wrapper > .ant-radio-button {
                position: absolute;
                inset-block-start: 0;
                inset-inline-start: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
            }

            :where(.css-1gfaw2i).ant-radio-button-wrapper:not(:first-child)::before {
                position: absolute;
                inset-block-start: -1px;
                inset-inline-start: -1px;
                display: block;
                box-sizing: content-box;
                width: 1px;
                height: 100%;
                padding-block: 1px;
                padding-inline: 0;
                background-color: #d9d9d9;
                transition: background-color 0.3s;
                content: "";
            }

            :where(.css-1gfaw2i).ant-radio-button-wrapper:first-child {
                border-inline-start: 1px solid #d9d9d9;
                border-start-start-radius: 6px;
                border-end-start-radius: 6px;
            }

            :where(.css-1gfaw2i).ant-radio-button-wrapper:last-child {
                border-start-end-radius: 6px;
                border-end-end-radius: 6px;
            }

            :where(.css-1gfaw2i).ant-radio-button-wrapper:first-child:last-child {
                border-radius: 6px;
            }

        .ant-radio-group-large :where(.css-1gfaw2i).ant-radio-button-wrapper {
            height: 40px;
            font-size: 16px;
            line-height: 38px;
        }

            .ant-radio-group-large :where(.css-1gfaw2i).ant-radio-button-wrapper:first-child {
                border-start-start-radius: 8px;
                border-end-start-radius: 8px;
            }

            .ant-radio-group-large :where(.css-1gfaw2i).ant-radio-button-wrapper:last-child {
                border-start-end-radius: 8px;
                border-end-end-radius: 8px;
            }

        .ant-radio-group-small :where(.css-1gfaw2i).ant-radio-button-wrapper {
            height: 24px;
            padding-inline: 7px;
            padding-block: 0;
            line-height: 22px;
        }

            .ant-radio-group-small :where(.css-1gfaw2i).ant-radio-button-wrapper:first-child {
                border-start-start-radius: 4px;
                border-end-start-radius: 4px;
            }

            .ant-radio-group-small :where(.css-1gfaw2i).ant-radio-button-wrapper:last-child {
                border-start-end-radius: 4px;
                border-end-end-radius: 4px;
            }

        :where(.css-1gfaw2i).ant-radio-button-wrapper:hover {
            position: relative;
            color: #ff8000;
        }

        :where(.css-1gfaw2i).ant-radio-button-wrapper:has(:focus-visible) {
            outline: 2px solid #ffca7a;
            outline-offset: 1px;
            transition: outline-offset 0s,outline 0s;
        }

        :where(.css-1gfaw2i).ant-radio-button-wrapper .ant-radio-inner, :where(.css-1gfaw2i).ant-radio-button-wrapper input[type='checkbox'], :where(.css-1gfaw2i).ant-radio-button-wrapper input[type='radio'] {
            width: 0;
            height: 0;
            opacity: 0;
            pointer-events: none;
        }

        :where(.css-1gfaw2i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            z-index: 1;
            color: #ff8000;
            background: #ffffff;
            border-color: #ff8000;
        }

            :where(.css-1gfaw2i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
                background-color: #ff8000;
            }

            :where(.css-1gfaw2i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
                border-color: #ff8000;
            }

            :where(.css-1gfaw2i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
                color: #ff9b29;
                border-color: #ff9b29;
            }

                :where(.css-1gfaw2i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
                    background-color: #ff9b29;
                }

            :where(.css-1gfaw2i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
                color: #d96500;
                border-color: #d96500;
            }

                :where(.css-1gfaw2i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active::before {
                    background-color: #d96500;
                }

        .ant-radio-group-solid :where(.css-1gfaw2i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            color: #fff;
            background: #ff8000;
            border-color: #ff8000;
        }

            .ant-radio-group-solid :where(.css-1gfaw2i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
                color: #fff;
                background: #ff9b29;
                border-color: #ff9b29;
            }

            .ant-radio-group-solid :where(.css-1gfaw2i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
                color: #fff;
                background: #d96500;
                border-color: #d96500;
            }

        :where(.css-1gfaw2i).ant-radio-button-wrapper-disabled {
            color: rgba(51, 51, 51, 0.25);
            background-color: rgba(51, 51, 51, 0.04);
            border-color: #d9d9d9;
            cursor: not-allowed;
        }

            :where(.css-1gfaw2i).ant-radio-button-wrapper-disabled:first-child, :where(.css-1gfaw2i).ant-radio-button-wrapper-disabled:hover {
                color: rgba(51, 51, 51, 0.25);
                background-color: rgba(51, 51, 51, 0.04);
                border-color: #d9d9d9;
            }

            :where(.css-1gfaw2i).ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked {
                color: rgba(51, 51, 51, 0.25);
                background-color: rgba(51, 51, 51, 0.15);
                border-color: #d9d9d9;
                box-shadow: none;
            }
    </style>
    <style data-vc-order="prependQueue" data-css-hash="rp2582" data-token-hash="b2lkp1">
        :where(.css-1gfaw2i)[class^="ant-btn"], :where(.css-1gfaw2i)[class*=" ant-btn"] {
            font-family: 微軟正黑體,"Microsoft JhengHei",arial,sans-serif;
            font-size: 14px;
            box-sizing: border-box;
        }

            :where(.css-1gfaw2i)[class^="ant-btn"]::before, :where(.css-1gfaw2i)[class*=" ant-btn"]::before, :where(.css-1gfaw2i)[class^="ant-btn"]::after, :where(.css-1gfaw2i)[class*=" ant-btn"]::after {
                box-sizing: border-box;
            }

            :where(.css-1gfaw2i)[class^="ant-btn"] [class^="ant-btn"], :where(.css-1gfaw2i)[class*=" ant-btn"] [class^="ant-btn"], :where(.css-1gfaw2i)[class^="ant-btn"] [class*=" ant-btn"], :where(.css-1gfaw2i)[class*=" ant-btn"] [class*=" ant-btn"] {
                box-sizing: border-box;
            }

                :where(.css-1gfaw2i)[class^="ant-btn"] [class^="ant-btn"]::before, :where(.css-1gfaw2i)[class*=" ant-btn"] [class^="ant-btn"]::before, :where(.css-1gfaw2i)[class^="ant-btn"] [class*=" ant-btn"]::before, :where(.css-1gfaw2i)[class*=" ant-btn"] [class*=" ant-btn"]::before, :where(.css-1gfaw2i)[class^="ant-btn"] [class^="ant-btn"]::after, :where(.css-1gfaw2i)[class*=" ant-btn"] [class^="ant-btn"]::after, :where(.css-1gfaw2i)[class^="ant-btn"] [class*=" ant-btn"]::after, :where(.css-1gfaw2i)[class*=" ant-btn"] [class*=" ant-btn"]::after {
                    box-sizing: border-box;
                }

        :where(.css-1gfaw2i).ant-btn {
            outline: none;
            position: relative;
            display: inline-block;
            font-weight: 400;
            white-space: nowrap;
            text-align: center;
            background-image: none;
            background-color: transparent;
            border: 1px solid transparent;
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            user-select: none;
            touch-action: manipulation;
            line-height: 1.5715;
            color: #333;
        }

            :where(.css-1gfaw2i).ant-btn > span {
                display: inline-block;
            }

                :where(.css-1gfaw2i).ant-btn > .anticon + span, :where(.css-1gfaw2i).ant-btn > span + .anticon {
                    margin-inline-start: 8px;
                }

            :where(.css-1gfaw2i).ant-btn > a {
                color: currentColor;
            }

            :where(.css-1gfaw2i).ant-btn:not(:disabled):focus-visible {
                outline: 2px solid #ffca7a;
                outline-offset: 1px;
                transition: outline-offset 0s,outline 0s;
            }

        :where(.css-1gfaw2i).ant-btn-icon-only.ant-btn-compact-item {
            flex: none;
        }

        :where(.css-1gfaw2i).ant-btn-compact-item.ant-btn-primary:not([disabled]) + .ant-btn-compact-item.ant-btn-primary:not([disabled]) {
            position: relative;
        }

            :where(.css-1gfaw2i).ant-btn-compact-item.ant-btn-primary:not([disabled]) + .ant-btn-compact-item.ant-btn-primary:not([disabled]):before {
                position: absolute;
                top: -1px;
                inset-inline-start: -1px;
                display: inline-block;
                width: 1px;
                height: calc(100% + 2px);
                background-color: #ff9b29;
                content: "";
            }

        :where(.css-1gfaw2i).ant-btn-compact-vertical-item.ant-btn-primary:not([disabled]) + .ant-btn-compact-vertical-item.ant-btn-primary:not([disabled]) {
            position: relative;
        }

            :where(.css-1gfaw2i).ant-btn-compact-vertical-item.ant-btn-primary:not([disabled]) + .ant-btn-compact-vertical-item.ant-btn-primary:not([disabled]):before {
                position: absolute;
                top: -1px;
                inset-inline-start: -1px;
                display: inline-block;
                width: calc(100% + 2px);
                height: 1px;
                background-color: #ff9b29;
                content: "";
            }

        :where(.css-1gfaw2i).ant-btn.ant-btn-sm {
            font-size: 14px;
            height: 24px;
            padding: 0px 7px;
            border-radius: 4px;
        }

            :where(.css-1gfaw2i).ant-btn.ant-btn-sm.ant-btn-icon-only {
                width: 24px;
                padding-inline-start: 0;
                padding-inline-end: 0;
            }

                :where(.css-1gfaw2i).ant-btn.ant-btn-sm.ant-btn-icon-only.ant-btn-round {
                    width: auto;
                }

                :where(.css-1gfaw2i).ant-btn.ant-btn-sm.ant-btn-icon-only > span {
                    transform: scale(1.143);
                }

            :where(.css-1gfaw2i).ant-btn.ant-btn-sm.ant-btn-loading {
                opacity: 0.65;
                cursor: default;
            }

            :where(.css-1gfaw2i).ant-btn.ant-btn-sm .ant-btn-loading-icon {
                transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            :where(.css-1gfaw2i).ant-btn.ant-btn-sm:not(.ant-btn-icon-only) .ant-btn-loading-icon > .anticon {
                margin-inline-end: 8px;
            }

        :where(.css-1gfaw2i).ant-btn.ant-btn-circle.ant-btn-sm {
            min-width: 24px;
            padding-inline-start: 0;
            padding-inline-end: 0;
            border-radius: 50%;
        }

        :where(.css-1gfaw2i).ant-btn.ant-btn-round.ant-btn-sm {
            border-radius: 24px;
            padding-inline-start: 12px;
            padding-inline-end: 12px;
        }

        :where(.css-1gfaw2i).ant-btn {
            font-size: 14px;
            height: 32px;
            padding: 3.999500000000001px 15px;
            border-radius: 6px;
        }

            :where(.css-1gfaw2i).ant-btn.ant-btn-icon-only {
                width: 32px;
                padding-inline-start: 0;
                padding-inline-end: 0;
            }

                :where(.css-1gfaw2i).ant-btn.ant-btn-icon-only.ant-btn-round {
                    width: auto;
                }

                :where(.css-1gfaw2i).ant-btn.ant-btn-icon-only > span {
                    transform: scale(1.143);
                }

            :where(.css-1gfaw2i).ant-btn.ant-btn-loading {
                opacity: 0.65;
                cursor: default;
            }

            :where(.css-1gfaw2i).ant-btn .ant-btn-loading-icon {
                transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            :where(.css-1gfaw2i).ant-btn:not(.ant-btn-icon-only) .ant-btn-loading-icon > .anticon {
                margin-inline-end: 8px;
            }

            :where(.css-1gfaw2i).ant-btn.ant-btn-circle {
                min-width: 32px;
                padding-inline-start: 0;
                padding-inline-end: 0;
                border-radius: 50%;
            }

            :where(.css-1gfaw2i).ant-btn.ant-btn-round {
                border-radius: 32px;
                padding-inline-start: 16px;
                padding-inline-end: 16px;
            }

            :where(.css-1gfaw2i).ant-btn.ant-btn-lg {
                font-size: 16px;
                height: 40px;
                padding: 6.428000000000001px 15px;
                border-radius: 8px;
            }

                :where(.css-1gfaw2i).ant-btn.ant-btn-lg.ant-btn-icon-only {
                    width: 40px;
                    padding-inline-start: 0;
                    padding-inline-end: 0;
                }

                    :where(.css-1gfaw2i).ant-btn.ant-btn-lg.ant-btn-icon-only.ant-btn-round {
                        width: auto;
                    }

                    :where(.css-1gfaw2i).ant-btn.ant-btn-lg.ant-btn-icon-only > span {
                        transform: scale(1.143);
                    }

                :where(.css-1gfaw2i).ant-btn.ant-btn-lg.ant-btn-loading {
                    opacity: 0.65;
                    cursor: default;
                }

                :where(.css-1gfaw2i).ant-btn.ant-btn-lg .ant-btn-loading-icon {
                    transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                }

                :where(.css-1gfaw2i).ant-btn.ant-btn-lg:not(.ant-btn-icon-only) .ant-btn-loading-icon > .anticon {
                    margin-inline-end: 8px;
                }

            :where(.css-1gfaw2i).ant-btn.ant-btn-circle.ant-btn-lg {
                min-width: 40px;
                padding-inline-start: 0;
                padding-inline-end: 0;
                border-radius: 50%;
            }

            :where(.css-1gfaw2i).ant-btn.ant-btn-round.ant-btn-lg {
                border-radius: 40px;
                padding-inline-start: 20px;
                padding-inline-end: 20px;
            }

            :where(.css-1gfaw2i).ant-btn.ant-btn-block {
                width: 100%;
            }

        :where(.css-1gfaw2i).ant-btn-default {
            background-color: #ffffff;
            border-color: #d9d9d9;
            box-shadow: 0 2px 0 rgba(51, 51, 51, 0.02);
        }

            :where(.css-1gfaw2i).ant-btn-default:disabled {
                cursor: not-allowed;
                border-color: #d9d9d9;
                color: rgba(51, 51, 51, 0.25);
                background-color: rgba(51, 51, 51, 0.04);
                box-shadow: none;
            }

            :where(.css-1gfaw2i).ant-btn-default:not(:disabled):hover {
                color: #ff9b29;
                border-color: #ff9b29;
            }

            :where(.css-1gfaw2i).ant-btn-default:not(:disabled):active {
                color: #d96500;
                border-color: #d96500;
            }

            :where(.css-1gfaw2i).ant-btn-default.ant-btn-background-ghost {
                color: #ffffff;
                background-color: transparent;
                border-color: #ffffff;
                box-shadow: none;
            }

                :where(.css-1gfaw2i).ant-btn-default.ant-btn-background-ghost:not(:disabled):hover {
                    background-color: transparent;
                }

                :where(.css-1gfaw2i).ant-btn-default.ant-btn-background-ghost:not(:disabled):active {
                    background-color: transparent;
                }

                :where(.css-1gfaw2i).ant-btn-default.ant-btn-background-ghost:disabled {
                    cursor: not-allowed;
                    color: rgba(51, 51, 51, 0.25);
                    border-color: #d9d9d9;
                }

            :where(.css-1gfaw2i).ant-btn-default.ant-btn-dangerous {
                color: #ff4d4f;
                border-color: #ff4d4f;
            }

                :where(.css-1gfaw2i).ant-btn-default.ant-btn-dangerous:not(:disabled):hover {
                    color: #ff7875;
                    border-color: #ffa39e;
                }

                :where(.css-1gfaw2i).ant-btn-default.ant-btn-dangerous:not(:disabled):active {
                    color: #d9363e;
                    border-color: #d9363e;
                }

                :where(.css-1gfaw2i).ant-btn-default.ant-btn-dangerous.ant-btn-background-ghost {
                    color: #ff4d4f;
                    background-color: transparent;
                    border-color: #ff4d4f;
                    box-shadow: none;
                }

                    :where(.css-1gfaw2i).ant-btn-default.ant-btn-dangerous.ant-btn-background-ghost:not(:disabled):hover {
                        background-color: transparent;
                    }

                    :where(.css-1gfaw2i).ant-btn-default.ant-btn-dangerous.ant-btn-background-ghost:not(:disabled):active {
                        background-color: transparent;
                    }

                    :where(.css-1gfaw2i).ant-btn-default.ant-btn-dangerous.ant-btn-background-ghost:disabled {
                        cursor: not-allowed;
                        color: rgba(51, 51, 51, 0.25);
                        border-color: #d9d9d9;
                    }

                :where(.css-1gfaw2i).ant-btn-default.ant-btn-dangerous:disabled {
                    cursor: not-allowed;
                    border-color: #d9d9d9;
                    color: rgba(51, 51, 51, 0.25);
                    background-color: rgba(51, 51, 51, 0.04);
                    box-shadow: none;
                }

        :where(.css-1gfaw2i).ant-btn-primary {
            color: #fff;
            background-color: #ff8000;
            box-shadow: 0 2px 0 rgba(255, 175, 5, 0.1);
        }

            :where(.css-1gfaw2i).ant-btn-primary:disabled {
                cursor: not-allowed;
                border-color: #d9d9d9;
                color: rgba(51, 51, 51, 0.25);
                background-color: rgba(51, 51, 51, 0.04);
                box-shadow: none;
            }

            :where(.css-1gfaw2i).ant-btn-primary:not(:disabled):hover {
                color: #fff;
                background-color: #ff9b29;
            }

            :where(.css-1gfaw2i).ant-btn-primary:not(:disabled):active {
                color: #fff;
                background-color: #d96500;
            }

            :where(.css-1gfaw2i).ant-btn-primary.ant-btn-background-ghost {
                color: #ff8000;
                background-color: transparent;
                border-color: #ff8000;
                box-shadow: none;
            }

                :where(.css-1gfaw2i).ant-btn-primary.ant-btn-background-ghost:not(:disabled):hover {
                    background-color: transparent;
                    color: #ff9b29;
                    border-color: #ff9b29;
                }

                :where(.css-1gfaw2i).ant-btn-primary.ant-btn-background-ghost:not(:disabled):active {
                    background-color: transparent;
                    color: #d96500;
                    border-color: #d96500;
                }

                :where(.css-1gfaw2i).ant-btn-primary.ant-btn-background-ghost:disabled {
                    cursor: not-allowed;
                    color: rgba(51, 51, 51, 0.25);
                    border-color: #d9d9d9;
                }

            :where(.css-1gfaw2i).ant-btn-primary.ant-btn-dangerous {
                background-color: #ff4d4f;
                box-shadow: 0 2px 0 rgba(255, 38, 5, 0.06);
            }

                :where(.css-1gfaw2i).ant-btn-primary.ant-btn-dangerous:not(:disabled):hover {
                    background-color: #ff7875;
                }

                :where(.css-1gfaw2i).ant-btn-primary.ant-btn-dangerous:not(:disabled):active {
                    background-color: #d9363e;
                }

                :where(.css-1gfaw2i).ant-btn-primary.ant-btn-dangerous.ant-btn-background-ghost {
                    color: #ff4d4f;
                    background-color: transparent;
                    border-color: #ff4d4f;
                    box-shadow: none;
                }

                    :where(.css-1gfaw2i).ant-btn-primary.ant-btn-dangerous.ant-btn-background-ghost:not(:disabled):hover {
                        background-color: transparent;
                        color: #ff7875;
                        border-color: #ff7875;
                    }

                    :where(.css-1gfaw2i).ant-btn-primary.ant-btn-dangerous.ant-btn-background-ghost:not(:disabled):active {
                        background-color: transparent;
                        color: #d9363e;
                        border-color: #d9363e;
                    }

                    :where(.css-1gfaw2i).ant-btn-primary.ant-btn-dangerous.ant-btn-background-ghost:disabled {
                        cursor: not-allowed;
                        color: rgba(51, 51, 51, 0.25);
                        border-color: #d9d9d9;
                    }

                :where(.css-1gfaw2i).ant-btn-primary.ant-btn-dangerous:disabled {
                    cursor: not-allowed;
                    border-color: #d9d9d9;
                    color: rgba(51, 51, 51, 0.25);
                    background-color: rgba(51, 51, 51, 0.04);
                    box-shadow: none;
                }

        :where(.css-1gfaw2i).ant-btn-dashed {
            background-color: #ffffff;
            border-color: #d9d9d9;
            box-shadow: 0 2px 0 rgba(51, 51, 51, 0.02);
            border-style: dashed;
        }

            :where(.css-1gfaw2i).ant-btn-dashed:disabled {
                cursor: not-allowed;
                border-color: #d9d9d9;
                color: rgba(51, 51, 51, 0.25);
                background-color: rgba(51, 51, 51, 0.04);
                box-shadow: none;
            }

            :where(.css-1gfaw2i).ant-btn-dashed:not(:disabled):hover {
                color: #ff9b29;
                border-color: #ff9b29;
            }

            :where(.css-1gfaw2i).ant-btn-dashed:not(:disabled):active {
                color: #d96500;
                border-color: #d96500;
            }

            :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-background-ghost {
                color: #ffffff;
                background-color: transparent;
                border-color: #ffffff;
                box-shadow: none;
            }

                :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-background-ghost:not(:disabled):hover {
                    background-color: transparent;
                }

                :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-background-ghost:not(:disabled):active {
                    background-color: transparent;
                }

                :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-background-ghost:disabled {
                    cursor: not-allowed;
                    color: rgba(51, 51, 51, 0.25);
                    border-color: #d9d9d9;
                }

            :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-dangerous {
                color: #ff4d4f;
                border-color: #ff4d4f;
            }

                :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-dangerous:not(:disabled):hover {
                    color: #ff7875;
                    border-color: #ffa39e;
                }

                :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-dangerous:not(:disabled):active {
                    color: #d9363e;
                    border-color: #d9363e;
                }

                :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-dangerous.ant-btn-background-ghost {
                    color: #ff4d4f;
                    background-color: transparent;
                    border-color: #ff4d4f;
                    box-shadow: none;
                }

                    :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-dangerous.ant-btn-background-ghost:not(:disabled):hover {
                        background-color: transparent;
                    }

                    :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-dangerous.ant-btn-background-ghost:not(:disabled):active {
                        background-color: transparent;
                    }

                    :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-dangerous.ant-btn-background-ghost:disabled {
                        cursor: not-allowed;
                        color: rgba(51, 51, 51, 0.25);
                        border-color: #d9d9d9;
                    }

                :where(.css-1gfaw2i).ant-btn-dashed.ant-btn-dangerous:disabled {
                    cursor: not-allowed;
                    border-color: #d9d9d9;
                    color: rgba(51, 51, 51, 0.25);
                    background-color: rgba(51, 51, 51, 0.04);
                    box-shadow: none;
                }

        :where(.css-1gfaw2i).ant-btn-link {
            color: #1677ff;
        }

            :where(.css-1gfaw2i).ant-btn-link:not(:disabled):hover {
                color: #69b1ff;
            }

            :where(.css-1gfaw2i).ant-btn-link:not(:disabled):active {
                color: #0958d9;
            }

            :where(.css-1gfaw2i).ant-btn-link:disabled {
                cursor: not-allowed;
                color: rgba(51, 51, 51, 0.25);
            }

            :where(.css-1gfaw2i).ant-btn-link.ant-btn-dangerous {
                color: #ff4d4f;
            }

                :where(.css-1gfaw2i).ant-btn-link.ant-btn-dangerous:not(:disabled):hover {
                    color: #ff7875;
                }

                :where(.css-1gfaw2i).ant-btn-link.ant-btn-dangerous:not(:disabled):active {
                    color: #d9363e;
                }

                :where(.css-1gfaw2i).ant-btn-link.ant-btn-dangerous:disabled {
                    cursor: not-allowed;
                    color: rgba(51, 51, 51, 0.25);
                }

        :where(.css-1gfaw2i).ant-btn-text:not(:disabled):hover {
            color: #333;
            background-color: rgba(51, 51, 51, 0.06);
        }

        :where(.css-1gfaw2i).ant-btn-text:not(:disabled):active {
            color: #333;
            background-color: rgba(51, 51, 51, 0.15);
        }

        :where(.css-1gfaw2i).ant-btn-text:disabled {
            cursor: not-allowed;
            color: rgba(51, 51, 51, 0.25);
        }

        :where(.css-1gfaw2i).ant-btn-text.ant-btn-dangerous {
            color: #ff4d4f;
        }

            :where(.css-1gfaw2i).ant-btn-text.ant-btn-dangerous:disabled {
                cursor: not-allowed;
                color: rgba(51, 51, 51, 0.25);
            }

            :where(.css-1gfaw2i).ant-btn-text.ant-btn-dangerous:not(:disabled):hover {
                color: #ff7875;
                background-color: #fff2f0;
            }

            :where(.css-1gfaw2i).ant-btn-text.ant-btn-dangerous:not(:disabled):active {
                color: #ff7875;
                background-color: #fff2f0;
            }

        :where(.css-1gfaw2i).ant-btn-disabled {
            cursor: not-allowed;
            border-color: #d9d9d9;
            color: rgba(51, 51, 51, 0.25);
            background-color: rgba(51, 51, 51, 0.04);
            box-shadow: none;
        }

            :where(.css-1gfaw2i).ant-btn-disabled.ant-btn:hover {
                cursor: not-allowed;
                border-color: #d9d9d9;
                color: rgba(51, 51, 51, 0.25);
                background-color: rgba(51, 51, 51, 0.04);
                box-shadow: none;
            }

        :where(.css-1gfaw2i).ant-btn-group {
            position: relative;
            display: inline-flex;
        }

            :where(.css-1gfaw2i).ant-btn-group > span:not(:last-child), :where(.css-1gfaw2i).ant-btn-group > .ant-btn:not(:last-child), :where(.css-1gfaw2i).ant-btn-group > span:not(:last-child) > .ant-btn, :where(.css-1gfaw2i).ant-btn-group > .ant-btn:not(:last-child) > .ant-btn {
                border-start-end-radius: 0;
                border-end-end-radius: 0;
            }

            :where(.css-1gfaw2i).ant-btn-group > span:not(:first-child), :where(.css-1gfaw2i).ant-btn-group > .ant-btn:not(:first-child) {
                margin-inline-start: -1px;
            }

                :where(.css-1gfaw2i).ant-btn-group > span:not(:first-child), :where(.css-1gfaw2i).ant-btn-group > .ant-btn:not(:first-child), :where(.css-1gfaw2i).ant-btn-group > span:not(:first-child) > .ant-btn, :where(.css-1gfaw2i).ant-btn-group > .ant-btn:not(:first-child) > .ant-btn {
                    border-start-start-radius: 0;
                    border-end-start-radius: 0;
                }

            :where(.css-1gfaw2i).ant-btn-group .ant-btn {
                position: relative;
                z-index: 1;
            }

                :where(.css-1gfaw2i).ant-btn-group .ant-btn:hover, :where(.css-1gfaw2i).ant-btn-group .ant-btn:focus, :where(.css-1gfaw2i).ant-btn-group .ant-btn:active {
                    z-index: 2;
                }

                :where(.css-1gfaw2i).ant-btn-group .ant-btn[disabled] {
                    z-index: 0;
                }

            :where(.css-1gfaw2i).ant-btn-group .ant-btn-icon-only {
                font-size: 14px;
            }

            :where(.css-1gfaw2i).ant-btn-group > span:not(:last-child):not(:disabled), :where(.css-1gfaw2i).ant-btn-group > .ant-btn-primary:not(:last-child):not(:disabled), :where(.css-1gfaw2i).ant-btn-group > span:not(:last-child) > .ant-btn-primary:not(:disabled), :where(.css-1gfaw2i).ant-btn-group > .ant-btn-primary:not(:last-child) > .ant-btn-primary:not(:disabled) {
                border-inline-end-color: #ff9b29;
            }

            :where(.css-1gfaw2i).ant-btn-group > span:not(:first-child):not(:disabled), :where(.css-1gfaw2i).ant-btn-group > .ant-btn-primary:not(:first-child):not(:disabled), :where(.css-1gfaw2i).ant-btn-group > span:not(:first-child) > .ant-btn-primary:not(:disabled), :where(.css-1gfaw2i).ant-btn-group > .ant-btn-primary:not(:first-child) > .ant-btn-primary:not(:disabled) {
                border-inline-start-color: #ff9b29;
            }

            :where(.css-1gfaw2i).ant-btn-group > span:not(:last-child):not(:disabled), :where(.css-1gfaw2i).ant-btn-group > .ant-btn-danger:not(:last-child):not(:disabled), :where(.css-1gfaw2i).ant-btn-group > span:not(:last-child) > .ant-btn-danger:not(:disabled), :where(.css-1gfaw2i).ant-btn-group > .ant-btn-danger:not(:last-child) > .ant-btn-danger:not(:disabled) {
                border-inline-end-color: #ff7875;
            }

            :where(.css-1gfaw2i).ant-btn-group > span:not(:first-child):not(:disabled), :where(.css-1gfaw2i).ant-btn-group > .ant-btn-danger:not(:first-child):not(:disabled), :where(.css-1gfaw2i).ant-btn-group > span:not(:first-child) > .ant-btn-danger:not(:disabled), :where(.css-1gfaw2i).ant-btn-group > .ant-btn-danger:not(:first-child) > .ant-btn-danger:not(:disabled) {
                border-inline-start-color: #ff7875;
            }

        :where(.css-1gfaw2i).ant-btn-compact-item:not(.ant-btn-compact-last-item) {
            margin-inline-end: -1px;
        }

        :where(.css-1gfaw2i).ant-btn-compact-item:hover, :where(.css-1gfaw2i).ant-btn-compact-item:active {
            z-index: 2;
        }

        :where(.css-1gfaw2i).ant-btn-compact-item[disabled] {
            z-index: 0;
        }

        :where(.css-1gfaw2i).ant-btn-compact-item:not(.ant-btn-compact-first-item):not(.ant-btn-compact-last-item) {
            border-radius: 0;
        }

        :where(.css-1gfaw2i).ant-btn-compact-item:not(.ant-btn-compact-last-item).ant-btn-compact-first-item, :where(.css-1gfaw2i).ant-btn-compact-item:not(.ant-btn-compact-last-item).ant-btn-compact-first-item.ant-btn-sm, :where(.css-1gfaw2i).ant-btn-compact-item:not(.ant-btn-compact-last-item).ant-btn-compact-first-item.ant-btn-lg {
            border-start-end-radius: 0;
            border-end-end-radius: 0;
        }

        :where(.css-1gfaw2i).ant-btn-compact-item:not(.ant-btn-compact-first-item).ant-btn-compact-last-item, :where(.css-1gfaw2i).ant-btn-compact-item:not(.ant-btn-compact-first-item).ant-btn-compact-last-item.ant-btn-sm, :where(.css-1gfaw2i).ant-btn-compact-item:not(.ant-btn-compact-first-item).ant-btn-compact-last-item.ant-btn-lg {
            border-start-start-radius: 0;
            border-end-start-radius: 0;
        }

        :where(.css-1gfaw2i).ant-btn-compact-vertical-item:not(.ant-btn-compact-vertical-last-item) {
            margin-bottom: -1px;
        }

        :where(.css-1gfaw2i).ant-btn-compact-vertical-item:hover, :where(.css-1gfaw2i).ant-btn-compact-vertical-item:focus, :where(.css-1gfaw2i).ant-btn-compact-vertical-item:active {
            z-index: 2;
        }

        :where(.css-1gfaw2i).ant-btn-compact-vertical-item[disabled] {
            z-index: 0;
        }

        :where(.css-1gfaw2i).ant-btn-compact-vertical-item:not(.ant-btn-compact-vertical-first-item):not(.ant-btn-compact-vertical-last-item) {
            border-radius: 0;
        }

        :where(.css-1gfaw2i).ant-btn-compact-vertical-item.ant-btn-compact-vertical-first-item:not(.ant-btn-compact-vertical-last-item), :where(.css-1gfaw2i).ant-btn-compact-vertical-item.ant-btn-compact-vertical-first-item:not(.ant-btn-compact-vertical-last-item).ant-btn-sm, :where(.css-1gfaw2i).ant-btn-compact-vertical-item.ant-btn-compact-vertical-first-item:not(.ant-btn-compact-vertical-last-item).ant-btn-lg {
            border-end-end-radius: 0;
            border-end-start-radius: 0;
        }

        :where(.css-1gfaw2i).ant-btn-compact-vertical-item.ant-btn-compact-vertical-last-item:not(.ant-btn-compact-vertical-first-item), :where(.css-1gfaw2i).ant-btn-compact-vertical-item.ant-btn-compact-vertical-last-item:not(.ant-btn-compact-vertical-first-item).ant-btn-sm, :where(.css-1gfaw2i).ant-btn-compact-vertical-item.ant-btn-compact-vertical-last-item:not(.ant-btn-compact-vertical-first-item).ant-btn-lg {
            border-start-start-radius: 0;
            border-start-end-radius: 0;
        }
    </style>



    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">

</head>


<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
      <div class="row">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Land.Id" hidden />
            <input asp-for="Land.ImageUrl" hidden />
        
                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                          <h2 class="text-primary"> <i class=" fa fa-house-flag" style="color:#456270"></i>@(Model.Land.Id != 0 ? "編輯" : "刊登出售")物件</h2>
                      @*   <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <h5>選擇廣告類型：</h5>
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center; margin-top:10px; ">
                                <select asp-for="Land.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                                    <option disabled selected>請選擇類別</option>
                                </select> 
                            </div>
                        </div> *@
                        
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">基本資料</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                                <label asp-for="Land.Address" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <input asp-for="Land.Address" class="form-control" placeholder="請輸入物件地址" />
                            <span asp-validation-for="Land.Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LandSerialNumber" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <input asp-for="Land.LandSerialNumber" class="form-control" placeholder="請輸入權狀登載之地號，如：板橋區篤行段0063-0000地號，請完整填寫" />
                            <span asp-validation-for="Land.LandSerialNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.OwnerShipType" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.OwnerShipType" style="display:contents;margin-left:10px;"><input asp-for="Land.OwnerShipType" type="radio" value="民有土地" required>民有土地</label>
                            <label asp-for="Land.OwnerShipType" style="display:contents;margin-left:10px;"><input asp-for="Land.OwnerShipType" type="radio" value="國有土地" style="margin-left:10px;" checked>國有土地</label>
                            <label asp-for="Land.OwnerShipType" style="display:contents;margin-left:10px;"><input asp-for="Land.OwnerShipType" type="radio" value="原住民族土地" style="margin-left:10px;" checked>原住民族土地</label>
                            <label asp-for="Land.OwnerShipType" style="display:contents;margin-left:10px;"><input asp-for="Land.OwnerShipType" type="radio" value="無主土地" style="margin-left:10px;" checked>無主土地</label>
                            <span asp-validation-for="Land.OwnerShipType" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.SquareMeters" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.SquareMeters" class="form-control" placeholder="請輸入基地面積" />
                                <select asp-for="Land.SquareMetersUnit" id="city" class="form-control" style="margin-right: 10px;" onchange="updateTownships()" required>
                                    <option value="" disabled selected style="color: #b7b7b7;">請選擇單位</option>
                                    <option value="坪">坪</option>
                                    <option value="平方公尺">平方公尺</option>
                                </select>
                            </div>
                            <span asp-validation-for="Land.SquareMeters" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LandWidth" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <p><strong>面寬</strong></p><input asp-for="Land.LandWidth" class="form-control" placeholder="請輸入土地面寬" /><p><strong>米</strong></p>
                            <span asp-validation-for="Land.LandWidth" class="text-danger"></span>
                            <p><strong>縱深</strong></p><input asp-for="Land.LandDepth" class="form-control" placeholder="請輸入土地縱深" /><p><strong>米</strong></p>
                            <span asp-validation-for="Land.LandDepth" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.CloseRoad" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <p><strong>臨路</strong></p><input asp-for="Land.CloseRoad" class="form-control" placeholder="請輸入土地面寬" /><p><strong>米</strong></p>
                            <span asp-validation-for="Land.CloseRoad" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LandUseZone" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.LandUseZone" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZone" type="radio" value="都市土地" required>都市土地</label>
                            <label asp-for="Land.LandUseZone" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZone" type="radio" value="非都市土地" style="margin-left:10px;" checked>非都市土地</label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="住宅區" required>住宅區</label>
                            <select asp-for="Land.LandUseZoneTypeDetail" id="city" class="form-control" style="margin-right: 10px;" onchange="updateTownships()" required>
                                <option value="" disabled selected style="color: #b7b7b7;">請選擇類型</option>
                                <option value="住一">住一</option>
                                <option value="住二">住二</option>
                                <option value="住二之一">住二之一</option>
                                <option value="住二之二">住二之二</option>
                                <option value="住三">住三</option>
                                <option value="住三之一">住三之一</option>
                                <option value="住三之二">住三之二</option>
                                <option value="住四">住四</option>
                                <option value="住四之一">住四之一</option>
                            </select>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="商業區" style="margin-left:10px;" checked>商業區</label>
                            <select asp-for="Land.LandUseZoneTypeDetail" id="city" class="form-control" style="margin-right: 10px;" onchange="updateTownships()" required>
                                <option value="" disabled selected style="color: #b7b7b7;">請選擇類型</option>
                                <option value="商一">商一</option>
                                <option value="商二">商二</option>
                                <option value="商三">商三</option>
                                <option value="商四">商四</option>
                            </select>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="工業區" style="margin-left:10px;" checked>工業區</label>
                            <select asp-for="Land.LandUseZoneTypeDetail" id="city" class="form-control" style="margin-right: 10px;" onchange="updateTownships()" required>
                                <option value="" disabled selected style="color: #b7b7b7;">請選擇類型</option>
                                <option value="特種工業區">特種工業區</option>
                                <option value="甲種工業區">甲種工業區</option>
                                <option value="乙種工業區">乙種工業區</option>
                                <option value="零星工業區">零星工業區</option>
                            </select>

                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="行政區" style="margin-left:10px;" checked>行政區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="文教區" style="margin-left:10px;" checked>文教區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="體育運動區" style="margin-left:10px;" checked>體育運動區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="風景區" style="margin-left:10px;" checked>風景區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="保存區" style="margin-left:10px;" checked>保存區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="保護區" style="margin-left:10px;" checked>保護區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="農業區" style="margin-left:10px;" checked>農業區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="特定專用區" style="margin-left:10px;" checked>特定專用區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="其他" style="margin-left:10px;" checked>其他</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="自定義使用分區" style="margin-left:10px;" checked><input asp-for="Land.LandUseZoneTypeDetail" class="form-control" placeholder="自定義使用分區" /></label>

                        </div>

                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="特定農業區" required>特定農業區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="一般農業區" style="margin-left:10px;" checked>一般農業區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="工業區" style="margin-left:10px;" checked>工業區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="鄉村區" style="margin-left:10px;" checked>鄉村區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="森林區" style="margin-left:10px;" checked>森林區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="山坡地保育區" style="margin-left:10px;" checked>山坡地保育區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="風景區" style="margin-left:10px;" checked>風景區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="國家公園區" style="margin-left:10px;" checked>國家公園區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="河川區" style="margin-left:10px;" checked>河川區</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="其他" style="margin-left:10px;" checked>其他</label>
                            <label asp-for="Land.LandUseZoneType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandUseZoneType" type="radio" value="自定義使用分區" style="margin-left:10px;" checked><input asp-for="Land.LandUseZoneTypeDetail" class="form-control" placeholder="自定義使用分區" /></label>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LandType" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="住宅用地" required>住宅用地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="商業用地" style="margin-left:10px;" checked>商業用地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="工業用地" style="margin-left:10px;" checked>工業用地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="建地" style="margin-left:10px;" checked>建地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="農地" style="margin-left:10px;" checked>農地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="林地" style="margin-left:10px;" checked>林地</label>
                            <label asp-for="Land.LandType" style="display:contents;margin-left:10px;"><input asp-for="Land.LandType" type="radio" value="其他" style="margin-left:10px;" checked>其他</label>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.BuildingCoverageRate" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.BuildingCoverageRate" class="form-control" placeholder="請輸入建蔽率" /><p><strong>%</strong></p>
                            </div>
                            <span asp-validation-for="Land.BuildingCoverageRate" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.BuildingBulkRate" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.BuildingBulkRate" class="form-control" placeholder="請輸入容積率" /><p><strong>%</strong></p>
                            </div>
                            <span asp-validation-for="Land.BuildingBulkRate" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.Farming" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <label asp-for="Land.Farming" style="display:contents;margin-left:10px;"><input asp-for="Land.Farming" type="checkbox" value="true" required>農作</label>
                                <label asp-for="Land.Housing" style="display:contents;margin-left:10px;"><input asp-for="Land.Housing" type="checkbox" value="true" style="margin-left:10px;">住宅</label>
                                <label asp-for="Land.ProcessingPlant" style="display:contents;margin-left:10px;"><input asp-for="Land.ProcessingPlant" type="checkbox" value="true" style="margin-left:10px;">加工廠</label>
                                <label asp-for="Land.SMEnterprise" style="display:contents;margin-left:10px;"><input asp-for="Land.SMEnterprise" type="checkbox" value="true" style="margin-left:10px;">中小企業</label>
                                <label asp-for="Land.HighTechIndustry" style="display:contents;margin-left:10px;"><input asp-for="Land.HighTechIndustry" type="checkbox" value="true" style="margin-left:10px;">高科技業</label>
                                <label asp-for="Land.Factory" style="display:contents;margin-left:10px;"><input asp-for="Land.Factory" type="checkbox" value="true" style="margin-left:10px;">廠房</label>
                                <label asp-for="Land.StoreHouse" style="display:contents;margin-left:10px;"><input asp-for="Land.StoreHouse" type="checkbox" value="true" style="margin-left:10px;">倉庫</label>
                                <label asp-for="Land.Advertise" style="display:contents;margin-left:10px;"><input asp-for="Land.Advertise" type="checkbox" value="true" style="margin-left:10px;">廣告</label>
                                <label asp-for="Land.OpenStore" style="display:contents;margin-left:10px;"><input asp-for="Land.OpenStore" type="checkbox" value="true" style="margin-left:10px;">開店</label>
                                <span asp-validation-for="Land.Farming" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.HaveElectricity" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <label asp-for="Land.HaveElectricity" style="display:contents;margin-left:10px;"><input asp-for="Land.HaveElectricity" type="checkbox" value="true" required>有電</label>
                                <label asp-for="Land.HaveWater" style="display:contents;margin-left:10px;"><input asp-for="Land.HaveWater" type="checkbox" value="true" style="margin-left:10px;">有水</label>
                                <label asp-for="Land.PathWay" style="display:contents;margin-left:10px;"><input asp-for="Land.PathWay" type="checkbox" value="true" style="margin-left:10px;">通路</label>
                                <label asp-for="Land.SmoothGround" style="display:contents;margin-left:10px;"><input asp-for="Land.SmoothGround" type="checkbox" value="true" style="margin-left:10px;">地面平整</label>
                                <span asp-validation-for="Land.HaveElectricity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LandStatus" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.LandStatus" class="form-control" placeholder="請輸入土地當前使用狀況，參考範例：1.空地 2.自用中 3.地上有鐵皮屋 4.地上有合法資材室(兩房一廳一衛)" />
                            </div>
                            <span asp-validation-for="Land.LandStatus" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.ROI" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.ROI" class="form-control" placeholder="請輸入投資報酬率" /><p><strong>%（參考公式：投報率=年租金/總價*100%）</strong></p>
                            </div>
                            <span asp-validation-for="Land.ROI" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.SaleBySplit" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="Land.SaleBySplit" style="display:contents;margin-left:10px;"><input asp-for="Land.SaleBySplit" type="radio" value="住宅用地" required>是</label>
                            <label asp-for="Land.SaleBySplit" style="display:contents;margin-left:10px;"><input asp-for="Land.SaleBySplit" type="radio" value="商業用地" style="margin-left:10px;" checked>否</label>
                            <label asp-for="Land.SaleBySplit" style="display:contents;margin-left:10px;"><input asp-for="Land.SaleBySplit" type="radio" value="工業用地" style="margin-left:10px;" checked>視情況而定</label>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.MaximumHeightRestriction" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.MaximumHeightRestriction" class="form-control" placeholder="請輸入建築限高" /><p><strong>米</strong></p>
                            </div>
                            <span asp-validation-for="Land.MaximumHeightRestriction" class="text-danger"></span>
                        </div>

                    </div>

                  
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">物件價格</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.Price" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.Price" class="form-control" placeholder="請輸入物件總價" /><p style="width: 100px;"><strong>萬元</strong></p>
                                <span asp-validation-for="Land.Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.SelfFunding" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.SelfFunding" class="form-control" placeholder="請先輸入自備款成數" /><p style="width: 100px;"><strong>萬元</strong></p>
                                <span asp-validation-for="Land.SelfFunding" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.PercentageSelfFunding" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.PercentageSelfFunding" class="form-control" placeholder="請輸入自備款成數" /><p style="width: 100px;"><strong>%</strong></p>
                                <span asp-validation-for="Land.PercentageSelfFunding" class="text-danger"></span>
                            </div>
                        </div>
                       
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.EachSquarePrice" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.EachSquarePrice" class="form-control" placeholder="請輸入單坪售價" /><p style="width: 100px;"><strong>萬/坪</strong></p>
                                <span asp-validation-for="Land.EachSquarePrice" class="text-danger"></span>
                            </div>
                        </div>
                         
                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">特色描述</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.AdTitle" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.AdTitle" class="form-control" placeholder="請用簡單文字描述物件特色，廣告標題內容不得違反建管法規，限6-20個字" />
                                <span asp-validation-for="Land.AdTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.FeatureDescribe" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.FeatureDescribe" class="form-control" placeholder="經典範例：電梯大樓，位於高檔、優質社區內，24小時保全管理系統。房間：家俱家電全，裝潢好，一卡皮箱即可入住。周邊：附近有7-11、家樂福、SOGO，生活機能非常棒！交通：步行3分鐘到捷運站口、2分鐘到公車站......" />
                                <span asp-validation-for="Land.FeatureDescribe" class="text-danger"></span>
                            </div>
                        </div>

                    </div>


                    @* 圖片 *@
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">照片&影片</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.ImageUrl" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input type="file" name="file" id="chooseImg" accept="Image/*" asp-for="Land.ImageUrl" class="form-control" />
                                <span asp-validation-for="Land.ImageUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <img src="https://placehold.jp/100x100.png" id="imgPreview" style="width:100px; height:100px"; alt="Your Image"/>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.VideoUrl" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.VideoUrl" class="form-control" placeholder="請填影片網址" />
                                <span asp-validation-for="Land.VideoUrl" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">聯絡資料</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.ContactPeopleType" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <select asp-for="Land.ContactPeopleType" id="city" class="form-control" style="width: 35%;" required>
                                    <option value="屋主">屋主</option>
                                    <option value="代理人">代理人</option>
                                </select>
                            <input asp-for="Land.ContactPeopleName" class="form-control" placeholder="請輸入姓名" />
                            <label asp-for="Land.NoIntermediaryDisturb" style="display:contents;margin-left:10px;">
                                <input type="hidden" asp-for="Land.NoIntermediaryDisturb" value="false" />
                                <input type="checkbox" asp-for="Land.NoIntermediaryDisturb" style="margin-left:10px;">
                                屋主聲明，請仲介勿擾！
                            </label>
                            <span asp-validation-for="Land.NoIntermediaryDisturb" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.CellPhoneNumber" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.CellPhoneNumber" class="form-control" placeholder="請先輸入手機號碼" />
                                <span asp-validation-for="Land.CellPhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.PhoneNumber" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <select asp-for="Land.AreaCodePhoneNumber" class="form-control">
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="037">037</option>
                                    <option value="038">038</option>
                                    <option value="039">039</option>
                                    <option value="04">04</option>
                                    <option value="049">049</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="082">082</option>
                                    <option value="089">089</option>
                                    <option value="0823">0823</option>
                                    <option value="0826">0826</option>
                                    <option value="0827">0827</option>
                                    <option value="0836">0836</option>
                                </select>
                                <input asp-for="Land.PhoneNumber" class="form-control" placeholder="沒有可不填" />
                                <span asp-validation-for="Land.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.Email" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.Email" class="form-control" placeholder="請輸入信箱" />
                                <span asp-validation-for="Land.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.LineID" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="Land.LineID" class="form-control" placeholder="請輸入LineID" />
                                <span asp-validation-for="Land.LineID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="Land.ProtectPhone" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <select asp-for="Land.ProtectPhone" id="city" class="form-control" required>
                                    <option value="" disabled selected style="color: #b7b7b7;">建議啟用，不會影響買家撥打</option>
                                    <option value="啟用">啟用</option>
                                    <option value="不啟用">不啟用</option>
                                </select>
                                <span asp-validation-for="Land.ProtectPhone" class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>


                        <div class="row">
                            <div class="col-6 col-md-3">
                            @if (Model.Land.Id != 0)
                                {
                                <button type="submit" class="btn btn-primary form-control" style="background: #456270;">儲存</button>
                                }
                                else
                                {
                                <button type="submit" class="btn btn-primary form-control" style="background: #456270;">刊登</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                            <a asp-controller="House" asp-action="Index" class="btn btn-secondary border form-control" style="background: #456270; color:white;">
                                    返回
                                </a>
                            </div>
                        </div>
                    </div>
            
                <div class="col-2">
                    <img class="mt-4" src="@Model.Land.ImageUrl" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
        
        </form>
      </div>
    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<!-- SCRIPTS -->
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/index.js"></script>

<script src="~/js/landPreviewImage.js"></script>