@{
    ViewData["Title"] = "悅聚房屋 | 最佳房屋選擇";
}

<html lang="en">
    @model HouseVM
<head>

    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/PostAd.css">
    <link rel="stylesheet" href="~/css/PostAdSidebar.css">
    <link rel="stylesheet" href="~/css/ui.css">
    <link rel="stylesheet" href="~/css/upload.css">
    <link rel="stylesheet" href="~/css/upload1.css">
    <link rel="stylesheet" href="~/css/index-s2ODt_yQ.css">
    <link rel="stylesheet" href="~/css/ChooseAdType.css">
    

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            @*<img src="~/images/Preloadlogo.png" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">*@
            <span class="spinner-rotate">
                <img src="~/images/Preloadlogo.jpg" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">
            </span>
        </div>
    </section>

    <!-- MAKE A POST -->
    <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- CONTACT FORM HERE -->
                    <div data-v-3dcc9c2c="" class="card">
                        @*<p data-v-3dcc9c2c=""> 已有
                            <span data-v-3dcc9c2c="" class="color-custom-ff8000 font-bold">370,379</span>人在這裡成功出租/出售房子
                            <span data-v-3dcc9c2c="" class="color-custom-666">（如為經紀人員，不得以個人名義刊登）</span>
                        </p>*@
                            <h1 data-v-3dcc9c2c="" class="title">選擇廣告類型</h1>
                            <div data-v-3dcc9c2c="" class="content">
                                <div data-v-2da24a47="" data-v-3dcc9c2c="" class="row">
                                    <p data-v-2da24a47="" class="row-title"> 刊登類型 </p>
                                    <ul data-v-2da24a47="">
                                    <li data-v-2da24a47="" class="">出售 @*<span data-v-2da24a47="" class="ic-house house-arrow-right"></span>*@</li>
                                        @*<li data-v-2da24a47="" class="">出租 <span data-v-2da24a47="" class="ic-house house-arrow-right"></span></li>
                                        <li data-v-2da24a47="" class="">法拍屋 <span data-v-2da24a47="" class="ic-house house-arrow-right"></span></li>
                                        <li data-v-2da24a47="" class="">海外物業 <span data-v-2da24a47="" class="ic-house house-arrow-right"></span></li>*@
                                    </ul>
                                </div>
                                <div data-v-8f5f206a="" data-v-3dcc9c2c="" class="row">
                                    <p data-v-8f5f206a="" class="row-title"> 房屋現況 <span data-v-8f5f206a="" class="question ic-house house-help lh-16px"></span></p>
                                    <div data-v-8f5f206a="" class="type-title"> 住宅類 </div>
                                    <ul data-v-8f5f206a="">
                                    <li data-v-8f5f206a="" class=""><a class="smoothScroll" asp-area="Customer" asp-controller="House" asp-action="Upsert" target="_blank">住宅</a>@*<span data-v-8f5f206a="" class="ic-house house-arrow-right"></span>*@</li>
                                        @*<li data-v-8f5f206a="" class="">套房 <span data-v-8f5f206a="" class="ic-house house-arrow-right"></span></li>
                                        <li data-v-8f5f206a="" class="">車位 </li>
                                    <li data-v-8f5f206a="" class="">其他 <span data-v-8f5f206a="" class="ic-house house-arrow-right"></span></li>*@
                                    </ul>
                                    <p data-v-8f5f206a="" class="gap"></p>
                                    <div data-v-8f5f206a="" class="type-title"> 商用類 </div>
                                    <ul data-v-8f5f206a="">
                                        @*<li data-v-8f5f206a="" class="">店面 <span data-v-8f5f206a="" class="ic-house house-arrow-right"></span></li>
                                        <li data-v-8f5f206a="" class="">辦公 <span data-v-8f5f206a="" class="ic-house house-arrow-right"></span></li>
                                        <li data-v-8f5f206a="" class="">住辦 <span data-v-8f5f206a="" class="ic-house house-arrow-right"></span></li>
                                    <li data-v-8f5f206a="" class="">廠房 <span data-v-8f5f206a="" class="ic-house house-arrow-right"></span></li>*@
                                    <li data-v-8f5f206a="" class=""><a class="smoothScroll" asp-area="Customer" asp-controller="Land" asp-action="Upsert" target="_blank">土地</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SCRIPTS -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/PostAd.js"></script>

</body>
</html>