@model House
<head>

    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/index.css">



    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">

</head>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">刪除類別</h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="HouseName" class="p-0"></label>
            <input asp-for="HouseName" class="form-control" />
            <span asp-validation-for="HouseName" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Address" class="p-0"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="HouseAge" class="p-0"></label>
            <input asp-for="HouseAge" class="form-control" />
            <span asp-validation-for="HouseAge" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SquareMeters" class="p-0"></label>
            <input asp-for="SquareMeters" class="form-control" />
            <span asp-validation-for="SquareMeters" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Floor" class="p-0"></label>
            <input asp-for="Floor" class="form-control" />
            <span asp-validation-for="Floor" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Price" class="p-0"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">刪除</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="House" asp-action="Index" class="btn btn-secondary border form-control">
                    返回
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<!-- SCRIPTS -->
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/index.js"></script>