<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link rel="icon" href="~/images/YueJuHouse.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">


</head>
<body>
    <header>
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 text-align-right">
                    <a href="~/Home/Index" class="navbar-brand"><img src="~/images/HuiJuInvestmentlogo.png" style="max-width:100%;max-height:250%;left:-5%;position:relative;top:-50%;"></a>
                    <span class="phone-icon"><a href="tel:+886-2-28210197"><i class="fa fa-phone"></i>02-2821-0197</a></span>
                    <span><a href="https://lin.ee/pD4zte5" target="_blank"><img class="appointment-btn" src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" height="30" border="0"></a></span>
                    <span class="date-icon"><a href="~/News/IndexOT" style="font-size:15px">登入</a></span>
                    <em style="display: inline-block; height: 11px; width: 1px; border-right: 1px solid #bbb;" class="divide-line"></em>
                    <span class="date-icon"><a href="~/News/IndexOT" style="font-size:15px">註冊</a></span>
                </div>
            </div>
        </div>
    </header>
    <!-- MENU -->
    <section class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <!-- lOGO TEXT HERE -->
                <a href="~/Home/Index" class="navbar-brand">
                    <img src="~/images/YueJuHousinglogo.png" style="position:relative;top:-50%;max-width:300px;max-height:50px">
                </a>
            </div>


            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/BuyAllhouse/Index" class="smoothScroll" style="font-size: larger; color:#fff;">買屋</a></li>
                    <li class="dropdown nav-item activ">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="navbarDropdown" style="font-size: larger; color:#fff;">租屋<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">@Html.ActionLink("北投光明骨科總院", "Index", "Home")</li>
                            <li class="dropdown-item">@Html.ActionLink("萬華光明中醫分院", "Index", "WanHuaHome")</li>
                        </ul>
                    </li>
                    <li><a href="~/About/Index" class="smoothScroll" style="font-size: larger; color: #fff;">辦公</a></li>
                    <li><a href="~/Team/Index" class="smoothScroll" style="font-size: larger; color: #fff;">店面</a></li>
                    <li><a href="~/News/Index" class="smoothScroll" style="font-size: larger; color: #fff;">廠房</a></li>
                    <li><a href="#google-map" class="smoothScroll" style="font-size: larger; color: #fff;">土地</a></li>
                    @*<li><a href="~/TDSS/Index" class="smoothScroll" target="_blank" style="font-size: medium; color: #405545;">OA治療決策輔助工具</a></li>*@
                    <li class="appointment-btn"><a href="~/BuyAllhouse/Index" style="font-size:larger;" target="_blank">我要刊登</a></li>
                </ul>
            </div>

        </div>
    </section>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- FOOTER -->
        <footer data-stellar-background-ratio="5">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="footer-thumb">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s">聯絡資訊</h4>
                            <a href="https://www.google.com.tw/maps/place/112台北市北投區石牌路二段99巷55號" target="_blank"> <p><i class="fa fa-map-marker"></i> 地址：台北市北投區石牌路2段99巷55號1、2樓</p> </a>
                            <p><i class="fa fa-hospital-o"></i> 服務項目：房屋買賣廣告刊登、精準找房、土地規劃變更使用、農業設施規劃、建照使照申請、室內設計裝修</p>
                            <div class="contact-info">
                                <p>
                                    <a href="https://www.facebook.com/kingsclinic/?ref=page_internal" style="margin-left:10px;" class="fa fa-facebook-square fa-5x" attr="facebook icon" target="_blank"></a>
                                    <a href="https://www.facebook.com/kingsclinic/?ref=page_internal" style="margin-left:10px;" class="fa fa-instagram fa-5x" attr="facebook icon" target="_blank"></a>
                                    <a href="tel:+886-2-28210197" style="margin-left:10px;"><i class="fa fa-phone"></i>02-2821-0197</a>
                                </p>
                                <p style="margin-top:15px;">
                                    <a href="https://lin.ee/pD4zte5" target="_blank" style="margin-left:10px;"><img class="appointment-btn" src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" height="40" width="130" border="0"></a>
                                </p>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                    <h4 class="wow fadeInUp" data-wow-delay="0.4s">最新消息</h4>
                    <div class="latest-stories">
                    <div class="stories-image">
                    <a href="#"><img src="~/images/news-image.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="stories-info">
                    <a href="#"><h5>Amazing Technology</h5></a>
                    <span>March 08, 2018</span>
                    </div>
                    </div>

                    <div class="latest-stories">
                    <div class="stories-image">
                    <a href="#"><img src="~/images/news-image.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="stories-info">
                    <a href="#"><h5>New Healing Process</h5></a>
                    <span>February 20, 2018</span>
                    </div>
                    </div>
                    </div>
                    </div>*@

                    <div class="col-md-6 col-sm-6 service-time">
                        <div class="footer-thumb">
                            <div class="opening-hours">
                                <h4 class="wow fadeInUp" data-wow-delay="0.4s">門診時間</h4>
                                <div class="table-responsive h-in-gtuttable">
                                    <table border="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;" valign="middle">時間\星期</th>
                                                <th style="text-align: center;" valign="middle">一</th>
                                                <th style="text-align: center;" valign="middle">二</th>
                                                <th style="text-align: center;" valign="middle">三</th>
                                                <th style="text-align: center;" valign="middle">四</th>
                                                <th style="text-align: center;" valign="middle">五</th>
                                                <th style="text-align: center;" valign="middle">六</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td align="center" valign="middle">09 : 00 - 12 : 00</td>
                                                <td align="center" valign="middle"></td>
                                                <td align="center" valign="middle"></td>
                                                <td align="center" valign="middle"></td>
                                                <td align="center" valign="middle"></td>
                                                <td align="center" valign="middle"></td>
                                                <td align="center" valign="middle"><i aria-hidden="true" class="fa fa-check"></i></td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="middle">15 : 00 - 17 : 00</td>
                                                <td align="center" valign="middle"><i aria-hidden="true" class="fa fa-check"></i></td>
                                                <td align="center" valign="middle"></td>
                                                <td align="center" valign="middle"><i aria-hidden="true" class="fa fa-check"></i></td>
                                                <td align="center" valign="middle"></td>
                                                <td align="center" valign="middle"><i aria-hidden="true" class="fa fa-check"></i></td>
                                                <td align="center" valign="middle"></td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="middle">17 : 00 - 20 : 00</td>
                                                <td align="center" valign="middle"><i aria-hidden="true" class="fa fa-check"></i></td>
                                                <td align="center" valign="middle"><i aria-hidden="true" class="fa fa-check"></i></td>
                                                <td align="center" valign="middle"><i aria-hidden="true" class="fa fa-check"></i></td>
                                                <td align="center" valign="middle"><i aria-hidden="true" class="fa fa-check"></i></td>
                                                <td align="center" valign="middle"><i aria-hidden="true" class="fa fa-check"></i></td>
                                                <td align="center" valign="middle"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- GOOGLE MAP -->
                    <section id="google-map">
                        <!-- How to change your own map point
                        1. Go to Google Maps
                        2. Click on your location point
                        3. Click "Share" and choose "Embed map" tab
                        4. Copy only URL and paste it within the src=""
                        field below-->
                        <iframe style="margin-top: 10px; border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14450.047860563986!2d121.50801568501845!3d25.118376644183186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ae8b74ca5835%3A0x552f01f3164e7850!2z5YWJ5piO6Ki65omA!5e0!3m2!1szh-TW!2stw!4v1658202721874!5m2!1szh-TW!2stw" width="100%" height="350" frameborder="0" allowfullscreen></iframe>
                    </section>
                    <div class="col-md-12 col-sm-12 border-top">
                        <div class="col-md-6 col-sm-6">
                            <div class="copyright-text">
                                <p>
                                    Copyright &copy; 2024 慧聚投資集團 | 悅聚房屋

                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="footer-link">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 text-align-center">
                            <div class="angle-up-btn">
                                <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/950b571306.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
