@model HouseVM
@{
    ViewData["Title"] = "悅聚房屋 | 最佳房屋選擇";
}
<head>

    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/PostAd.css">
    <link rel="stylesheet" href="~/css/PostAdSidebar.css">
    <link rel="stylesheet" href="~/css/ui.css">
    <link rel="stylesheet" href="~/css/upload.css">
    <link rel="stylesheet" href="~/css/upload1.css">
    <link rel="stylesheet" href="~/css/HouseUpsert.css">



    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">

</head>


<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
      <div class="row">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="House.Id" hidden />
            <input asp-for="House.ImageUrl" hidden />
        
                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                          <h2 class="text-primary"> <i class=" fa fa-house-flag" style="color:#456270"></i>@(Model.House.Id != 0 ? "編輯" : "刊登出售")住宅</h2>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <h5>選擇廣告類型：</h5>
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center; margin-top:10px; ">
                                <select asp-for="House.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                                    <option disabled selected>請選擇類別</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">基本資料</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.CommunityName" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <input asp-for="House.CommunityName" class="form-control" placeholder="請輸入社區名稱" />
                            <span asp-validation-for="House.CommunityName" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                                <label asp-for="House.Address" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <input asp-for="House.Address" class="form-control" placeholder="請輸入物件地址" />
                            <span asp-validation-for="House.Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.Floor" class="p-0"></label>
                        </div>
                        <div class="col-md-3 col-sm-3" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <input asp-for="House.Floor" class="form-control" placeholder="請輸入總樓層" />
                            <span asp-validation-for="House.Floor" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.BedRoom" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <input asp-for="House.BedRoom" class="form-control" placeholder="請輸入房屋格局" /><p><strong>房</strong></p>
                            <span asp-validation-for="House.BedRoom" class="text-danger"></span>
                            <input asp-for="House.LivingRoom" class="form-control" placeholder="請輸入房屋格局" /><p><strong>廳</strong></p>
                            <span asp-validation-for="House.LivingRoom" class="text-danger"></span>
                            <input asp-for="House.BathRoom" class="form-control" placeholder="請輸入房屋格局" /><p><strong>衛</strong></p>
                            <span asp-validation-for="House.BathRoom" class="text-danger"></span>
                            <input asp-for="House.Balcony" class="form-control" placeholder="請輸入房屋格局" /><p><strong>陽台</strong></p>
                            <span asp-validation-for="House.Balcony" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.HouseAge" class="p-0"></label>
                        </div>
                        <div class="col-md-3 col-sm-3" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <input asp-for="House.HouseAge" class="form-control" />
                            <span asp-validation-for="House.HouseAge" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.HouseOrientation" class="p-0"></label>
                        </div>
                        <div class="col-md-3 col-sm-3" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <select asp-for="House.HouseOrientation" class="form-control">
                                <option disabled selected style="color: #b7b7b7;">請選擇類別</option>
                                <option value="坐東朝西">坐東朝西</option>
                                <option value="坐南朝北">坐南朝北</option>
                                <option value="坐西朝東">坐西朝東</option>
                                <option value="坐北朝南">坐北朝南</option>
                                <option value="坐東南朝西北">坐東南朝西北</option>
                                <option value="坐東北朝西南">坐東北朝西南</option>
                                <option value="坐西南朝東北">坐西南朝東北</option>
                                <option value="坐西北朝東南">坐西北朝東南</option>
                            </select>
                            <span asp-validation-for="House.HouseOrientation" class="text-danger"></span>
                        </div>

                    </div>


                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">物件面積</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.SquareMeters" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.SquareMeters" class="form-control" placeholder="請輸入權狀面積" />
                                <select asp-for="House.SquareMetersUnit" id="city" class="form-control" style="margin-right: 10px;" required>
                                    <option value="" disabled selected style="color: #b7b7b7;">請選擇單位</option>
                                    <option value="坪">坪</option>
                                    <option value="平方公尺">平方公尺</option>
                                </select>
                            </div>
                            <label asp-for="House.IncludeCarSquareMeters" style="display:contents;margin-left:10px;"><input asp-for="House.IncludeCarSquareMeters" type="radio" value="含車位面積" required>含車位面積</label>
                            <label asp-for="House.IncludeCarSquareMeters" style="display:contents;margin-left:10px;"><input asp-for="House.IncludeCarSquareMeters" type="radio" value="不含車位面積" style="margin-left:10px;" checked>不含車位面積</label>
                            <span asp-validation-for="House.SquareMeters" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.CarSquareMeters" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.CarSquareMeters" class="form-control" placeholder="請輸入權狀面積" />
                                <select asp-for="House.CarSquareMetersUnit" id="city" class="form-control" style="margin-right: 10px;" required>
                                    <option value="" disabled selected style="color: #b7b7b7;">請選擇單位</option>
                                    <option value="坪">坪</option>
                                    <option value="平方公尺">平方公尺</option>
                                </select>
                            </div>
                            <span asp-validation-for="House.CarSquareMeters" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.MainBuildingSquareMeters" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.MainBuildingSquareMeters" class="form-control" /><p><strong>坪</strong></p>
                                <span asp-validation-for="House.MainBuildingSquareMeters" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.SharedBuildingSquareMeters" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.SharedBuildingSquareMeters" class="form-control" /><p><strong>坪</strong></p>
                                <span asp-validation-for="House.SharedBuildingSquareMeters" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.OutBuildingSquareMeters" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.OutBuildingSquareMeters" class="form-control" /><p><strong>坪</strong></p>
                                <span asp-validation-for="House.OutBuildingSquareMeters" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.LandSquareMeters" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <select asp-for="House.LandSquareMetersType" id="city" class="form-control" required>
                                    <option value="" disabled selected style="color: #b7b7b7;">請選擇持有類型</option>
                                    <option value="土地坪數">土地坪數</option>
                                    <option value="土地持分坪數">土地持分坪數</option>
                                </select>
                                <input asp-for="House.LandSquareMeters" class="form-control" placeholder="請輸入土地面積" style="margin-right: 10px;" /><p><strong>坪</strong></p>
                            </div>
                            <span asp-validation-for="House.LandSquareMeters" class="text-danger"></span>
                        </div>

                    </div>


                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">物件價格</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.Price" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.Price" class="form-control" placeholder="請輸入物件總價" /><p style="width: 100px;"><strong>萬元</strong></p>
                                <span asp-validation-for="House.Price" class="text-danger"></span>
                                <label asp-for="House.IncludeCarSquarePrice" style="display:contents;margin-left:10px;"><input asp-for="House.IncludeCarSquarePrice" type="radio" value="含車位售價" required>含車位售價</label>
                                <label asp-for="House.IncludeCarSquarePrice" style="display:contents;margin-left:10px;"><input asp-for="House.IncludeCarSquarePrice" type="radio" value="不含車位售價" style="margin-left:10px;" checked>不含車位售價</label>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.SelfFunding" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.SelfFunding" class="form-control" placeholder="請先輸入自備款成數" /><p style="width: 100px;"><strong>萬元</strong></p>
                                <span asp-validation-for="House.SelfFunding" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.PercentageSelfFunding" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.PercentageSelfFunding" class="form-control" placeholder="請輸入自備款成數" /><p style="width: 100px;"><strong>%</strong></p>
                                <span asp-validation-for="House.PercentageSelfFunding" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.CarSquarePrice" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.CarSquarePrice" class="form-control" placeholder="請輸入車位售價" /><p style="width: 100px;"><strong>萬元</strong></p>
                                <span asp-validation-for="House.CarSquarePrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.EachSquarePrice" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.EachSquarePrice" class="form-control" placeholder="請輸入單坪售價" /><p style="width: 100px;"><strong>萬/坪</strong></p>
                                <span asp-validation-for="House.EachSquarePrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.ManageCost" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <select asp-for="House.ManageCostType" id="city" class="form-control" required>
                                    <option value="" disabled selected style="color: #b7b7b7;">請選擇繳費期別</option>
                                    <option value="月繳">月繳</option>
                                    <option value="季繳">季繳</option>
                                    <option value="年繳">年繳</option>
                                </select>
                                <input asp-for="House.ManageCost" class="form-control" placeholder="請輸入管理費" /><p style="width: 100px;"><strong>元/月</strong></p>
                                <span asp-validation-for="House.ManageCost" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.WithRentContract" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="House.WithRentContract" style="display:contents;margin-left:10px;"><input asp-for="House.WithRentContract" type="radio" value="是" required>是</label>
                            <label asp-for="House.WithRentContract" style="display:contents;margin-left:10px;"><input asp-for="House.WithRentContract" type="radio" value="否" style="margin-left:10px;" checked>否</label>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.DecorationLevel" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <label asp-for="House.DecorationLevel" style="display:contents;margin-left:10px;"><input asp-for="House.DecorationLevel" type="radio" value="尚未裝潢" required>尚未裝潢</label>
                            <label asp-for="House.DecorationLevel" style="display:contents;margin-left:10px;"><input asp-for="House.DecorationLevel" type="radio" value="簡易裝潢" style="margin-left:10px;" checked>簡易裝潢</label>
                            <label asp-for="House.DecorationLevel" style="display:contents;margin-left:10px;"><input asp-for="House.DecorationLevel" type="radio" value="中檔裝潢" style="margin-left:10px;" >中檔裝潢</label>
                            <label asp-for="House.DecorationLevel" style="display:contents;margin-left:10px;"><input asp-for="House.DecorationLevel" type="radio" value="高檔裝潢" style="margin-left:10px;" >高檔裝潢</label>
                        </div>
                         
                    </div>



                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">生活機能</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.CloseConvenienceStore" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <label asp-for="House.CloseConvenienceStore" style="display:contents;margin-left:10px;"><input asp-for="House.CloseConvenienceStore" type="checkbox" value="true" >近便利商店</label>
                                <label asp-for="House.CloseSuperMarket" style="display:contents;margin-left:10px;"><input asp-for="House.CloseSuperMarket" type="checkbox" value="true" style="margin-left:10px;">近超市大賣場</label>
                                <label asp-for="House.CloseTraditionalMarket" style="display:contents;margin-left:10px;"><input asp-for="House.CloseTraditionalMarket" type="checkbox" value="true" style="margin-left:10px;">近傳統市場</label>
                                <label asp-for="House.CloseDepartmentStore" style="display:contents;margin-left:10px;"><input asp-for="House.CloseDepartmentStore" type="checkbox" value="true" style="margin-left:10px;">近百貨公司</label>
                                <label asp-for="House.ClosePark" style="display:contents;margin-left:10px;"><input asp-for="House.ClosePark" type="checkbox" value="true" style="margin-left:10px;">近公園綠地</label>
                                <label asp-for="House.CloseSchool" style="display:contents;margin-left:10px;"><input asp-for="House.CloseSchool" type="checkbox" value="true" style="margin-left:10px;">近學校</label>
                                <label asp-for="House.CloseHospital" style="display:contents;margin-left:10px;"><input asp-for="House.CloseHospital" type="checkbox" value="true" style="margin-left:10px;">近醫療機構</label>
                                <label asp-for="House.CloseNightMarket" style="display:contents;margin-left:10px;"><input asp-for="House.CloseNightMarket" type="checkbox" value="true" style="margin-left:10px;">近夜市</label>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.StationOrRoad" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <p style="margin-right:10px;"><strong>近</strong></p><input asp-for="House.StationOrRoad" class="form-control" placeholder="請填公車站牌或線路" />
                                <select asp-for="House.StationOrRoadType" class="form-control" required>
                                    <option value="公車站">公車站</option>
                                    <option value="線路">線路</option>
                                </select>
                                <button type="submit" class="form-control" id="cf-submit" name="Submit" onclick="Submit_click" style="height: 45px; width:60px; margin-left:10px;">+</button>
                                <span asp-validation-for="House.StationOrRoad" class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>


                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">特色描述</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.AdTitle" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.AdTitle" class="form-control" placeholder="請用簡單文字描述物件特色，廣告標題內容不得違反建管法規，限6-20個字" />
                                <span asp-validation-for="House.AdTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.ControlDamper" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <label asp-for="House.ControlDamper" style="display:contents;margin-left:10px;"><input asp-for="House.ControlDamper" type="checkbox" value="true" >制震宅</label>
                                <label asp-for="House.ReplanArea" style="display:contents;margin-left:10px;"><input asp-for="House.ReplanArea" type="checkbox" value="true" style="margin-left:10px;">重劃區</label>
                                <label asp-for="House.FamousSchoolArea" style="display:contents;margin-left:10px;"><input asp-for="House.FamousSchoolArea" type="checkbox" value="true" style="margin-left:10px;">明星學區</label>
                                <span asp-validation-for="House.ControlDamper" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.FeatureDescribe" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.FeatureDescribe" class="form-control" placeholder="經典範例：電梯大樓，位於高檔、優質社區內，24小時保全管理系統。房間：家俱家電全，裝潢好，一卡皮箱即可入住。周邊：附近有7-11、家樂福、SOGO，生活機能非常棒！交通：步行3分鐘到捷運站口、2分鐘到公車站......" />
                                <span asp-validation-for="House.FeatureDescribe" class="text-danger"></span>
                            </div>
                        </div>

                    </div>


                    @* 圖片 *@
                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">照片&影片</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.ImageUrl" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input type="file" name="file" asp-for="House.ImageUrl" class="form-control" multiple />
                                <span asp-validation-for="House.ImageUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.PatternImageUrl" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input type="file" name="file" asp-for="House.PatternImageUrl" class="form-control" />
                                <span asp-validation-for="House.PatternImageUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.VideoUrl" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.VideoUrl" class="form-control" placeholder="請填影片網址" />
                                <span asp-validation-for="House.VideoUrl" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                        <div class="col-md-12 col-sm-12">
                            <hr></hr>
                            <h3 style="background: #456270;padding: 4px 15px 4px;letter-spacing: 0.1vw;font-weight: 500;font-size: 20px;display: table;color: #fff;margin-bottom: 10px;border-radius: 50px;">聯絡資料</h3>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="1s">
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.ContactPeopleType" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <select asp-for="House.ContactPeopleType" id="city" class="form-control" style="width: 35%;" required>
                                    <option value="屋主">屋主</option>
                                    <option value="仲介">仲介</option>
                                    <option value="代理人">代理人</option>
                                </select>
                                <input asp-for="House.ContactPeopleName" class="form-control" placeholder="請輸入姓名" />
                            <label asp-for="House.NoIntermediaryDisturb" style="display:contents;margin-left:10px;"><input type="checkbox" name="gender" value="true" style="margin-left:10px;">屋主聲明，請仲介勿擾！</label>
                            <span asp-validation-for="House.NoIntermediaryDisturb" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.CellPhoneNumber" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.CellPhoneNumber" class="form-control" placeholder="請先輸入手機號碼" />
                                <span asp-validation-for="House.CellPhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.PhoneNumber" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <select asp-for="House.AreaCodePhoneNumber" class="form-control">
                                    <option value="無">無</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="037">037</option>
                                    <option value="038">038</option>
                                    <option value="039">039</option>
                                    <option value="04">04</option>
                                    <option value="049">049</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="082">082</option>
                                    <option value="089">089</option>
                                    <option value="0823">0823</option>
                                    <option value="0826">0826</option>
                                    <option value="0827">0827</option>
                                    <option value="0836">0836</option>
                                </select>
                                <input asp-for="House.PhoneNumber" class="form-control" placeholder="沒有可不填" />
                                <span asp-validation-for="House.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.Email" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.Email" class="form-control" placeholder="請輸入信箱" />
                                <span asp-validation-for="House.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.LineID" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <input asp-for="House.LineID" class="form-control" placeholder="請輸入LineID" />
                                <span asp-validation-for="House.LineID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <label asp-for="House.ProtectPhone" class="p-0"></label>
                        </div>
                        <div class="col-md-12 col-sm-12" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                            <div class="col-md-6 col-sm-6" style="display: flex; flex-wrap: nowrap; overflow-x: auto; align-items: center;">
                                <select asp-for="House.ProtectPhone" id="city" class="form-control" required>
                                    <option value="" disabled selected style="color: #b7b7b7;">建議啟用，不會影響買家撥打</option>
                                    <option value="啟用">啟用</option>
                                    <option value="不啟用">不啟用</option>
                                </select>
                                <span asp-validation-for="House.ProtectPhone" class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>


                        <div class="row">
                            <div class="col-6 col-md-3">
                                @if (Model.House.Id != 0)
                                {
                                <button type="submit" class="btn btn-primary form-control" style="background: #456270;">儲存</button>
                                }
                                else
                                {
                                <button type="submit" class="btn btn-primary form-control" style="background: #456270;">刊登</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                            <a asp-controller="House" asp-action="Index" class="btn btn-secondary border form-control" style="background: #456270; color:white;">
                                    返回
                                </a>
                            </div>
                        </div>
                    </div>
            
                <div class="col-2">
                    <img class="mt-4" src="@Model.House.ImageUrl" width="20%" style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
        
        </form>
      </div>
    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<!-- SCRIPTS -->
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.sticky.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/index.js"></script>
<script src="~/js/PostAd.js"></script>