@{
    ViewData["Title"] = "悅聚房屋 | 最佳房屋選擇";
}

<html lang="en">
<head>

    <!--

    Template 2098 Health

    http://www.tooplate.com/view/2098-health

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/custom-style.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.css">



    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            @*<img src="~/images/Preloadlogo.png" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">*@
            <span class="spinner-rotate">
                <img src="~/images/Preloadlogo.jpg" class="img-responsive" alt="" style="text-align:center;width:100px;height:100px;">
            </span>
        </div>
    </section>

    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="owl-carousel owl-theme">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3 style="font-family: PoiretOne-Regular;">悅聚房屋 品味生活，科學選房</h3>
                                <h1 class="wow fadeInUp" style="font-family: PoiretOne-Regular;" data-wow-delay="0.1s">YueJu Housing</h1>
                                <a href="~/Team/Index" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-second">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3 style="font-family: PoiretOne-Regular;">專業房仲、細心呵護、安心信任</h3>
                                <h1 class="wow fadeInUp" style="font-family: PoiretOne-Regular;" data-wow-delay="0.1s">Profession Care Trust</h1>
                                <a href="~/About/Index" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-third">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3 style="font-family: PoiretOne-Regular;">高品質不動產買賣服務，解決您各種買賣屋問題</h3>
                                <h1 class="wow fadeInUp" style="font-family: PoiretOne-Regular;" data-wow-delay="0.1s">High Quality Care</h1>
                                <a href="~/News/Index" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- HOME -->
    <section id="AboutArea" class="wn__newsletter__area newsletter--bg">
        <div class="main-title text-center" style="margin-top:50px;">
            <h3 class="section-head mt55">
                網羅區域最熱門建案
                <p>嚴選區域最受歡迎的人氣個案</p>
            </h3>
            
        </div>
        <div class="hotbuild-1 owl-carousel owl-theme hotbuild">
           <div class="item">
                <div class="scroll-wrapper clearfix triggerOne_show" id="hotBuild_unknow" data-id="hotBuild">
                    <div class="clearfix">

                        <div class="scroll-main hot-builds">

                            <div class="scroll-list newbuild-hot clearfix" style="left: 0px;">
                                    <dl class="selected">
                                        <a href="//newhouse.591.com.tw/134022" target="_blank" google-data-stat="新版首頁_熱門建案_建案0-0">
                                        <dt>
                                            <span class="shoucang">
                                                <strong>17張照片</strong>
                                                <object><a data-text="134022" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                            </span>

                                            <img src="https://img1.591.com.tw/house/2023/07/06/168860537332524705.jpg!540x360.s2.jpg" alt="揚昇君悅" width="270" height="180">
                                            <div class="newbuild-title">

                                                <div class="tel-shade"></div>
                                                <div class="newbuild-tel">53通電話</div>

                                            </div>
                                        </dt>

                                        <dd>
                                            <div class="newbuild-info clearfix">
                                                <div class="newbuild-name"><strong>揚昇君悅</strong> [松山區]</div>
                                                <div class="newbuild-price">
                                                    <strong>

                                                        5,100<small>萬/戶起</small>

                                                    </strong>
                                                </div>
                                            </div>
                                            <p>
                                                    @*<i class="fa fa-quote-left mr5"></i>*@ 「揚昇君悅」位於台北市中山區八德路二段260號，格局坪數規劃二房22坪、三房30~56坪，鄰近忠孝復興捷運站，為地上21層、地下6層的新古典外觀建築外觀，使用SC鋼骨結構、日本森科嘉阻尼器。 @*<i class="fa fa-quote-right quote-right"></i>*@ <span class="newbuild-label ml10">查看更多<em></em></span>
                                            </p>
                                        </dd>
                                        </a>
                                    </dl>
                            </div>
                        </div>
                    </div>
                </div>
           </div>

            <div class="item">
                <div class="scroll-wrapper clearfix triggerOne_show" id="hotBuild_unknow" data-id="hotBuild">
                    <div class="clearfix">

                        <div class="scroll-main hot-builds">

                            <div class="scroll-list newbuild-hot clearfix" style="left: 0px;">
                                <dl>
                                    <a href="//newhouse.591.com.tw/133198" target="_blank" google-data-stat="新版首頁_熱門建案_建案1-0">
                                    <dt>
                                        <span class="shoucang">
                                            <strong>91張照片</strong>
                                            <object><a data-text="133198" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                        </span>

                                        <img src="https://img2.591.com.tw/house/2023/06/21/168733777676085202.jpg!540x360.s2.jpg" alt="將捷行書" width="270" height="180">
                                        <div class="newbuild-title">

                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">29通電話</div>

                                        </div>
                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix">
                                            <div class="newbuild-name"><strong>將捷行書</strong> [松山區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    150~160<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <p>
                                                @*<i class="fa fa-quote-left mr5"></i>*@ 「將捷行書」位於松山區三民路38號旁，由將捷股份有限公司投資興建，格局坪數規劃二房28.94、34.18坪、三房37.99坪，交通方面捷運南京三民站、國道一號、國道三號及環東大道、市民高架道路可利用。 @*<i class="fa fa-quote-right quote-right"></i>*@ <span class="newbuild-label ml10">查看更多<em></em></span>
                                        </p>
                                    </dd>
                                    </a>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="scroll-wrapper clearfix triggerOne_show" id="hotBuild_unknow" data-id="hotBuild">
                    <div class="clearfix">

                        <div class="scroll-main hot-builds">

                            <div class="scroll-list newbuild-hot clearfix" style="left: 0px;">

                                <dl>
                                    <a href="//newhouse.591.com.tw/134238" target="_blank" google-data-stat="新版首頁_熱門建案_建案2-0">
                                    <dt>
                                        <span class="shoucang">
                                            <strong>27張照片</strong>
                                            <object><a data-text="134238" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                        </span>

                                        <img src="https://img2.591.com.tw/house/2023/09/01/169355602007864307.jpg!540x360.s2.jpg" alt="亞伯信義雅晑" width="270" height="180">
                                        <div class="newbuild-title">

                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">39通電話</div>

                                        </div>
                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix">
                                            <div class="newbuild-name"><strong>亞伯信義雅晑</strong> [信義區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    168<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <p>
                                                @*<i class="fa fa-quote-left mr5"></i>*@ 「亞伯信義雅晑」位於台北市信義區永吉路30巷157弄18號，由亞伯土地開發投資興建，格局坪數規劃一房(13、15坪)、套房(10坪)，交通方面鄰近捷運市政府站，亦有國道一號可利用，生活便捷。 @*<i class="fa fa-quote-right quote-right"></i>*@ <span class="newbuild-label ml10">查看更多<em></em></span>
                                        </p>
                                    </dd>
                                    </a>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="scroll-wrapper clearfix triggerOne_show" id="hotBuild_unknow" data-id="hotBuild">
                    <div class="clearfix">

                        <div class="scroll-main hot-builds">

                            <div class="scroll-list newbuild-hot clearfix" style="left: 0px;">
                                 <dl>
                                        <a href="//newhouse.591.com.tw/133023" target="_blank" google-data-stat="新版首頁_熱門建案_建案3-0">
                                        <dt>
                                            <span class="shoucang">
                                                <strong>24張照片</strong>
                                                <object><a data-text="133023" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                            </span>

                                            <img src="https://img1.591.com.tw/house/2023/07/10/168896948619108605.jpg!540x360.s2.jpg" alt="長耀四季" width="270" height="180">
                                            <div class="newbuild-title">

                                                <div class="tel-shade"></div>
                                                <div class="newbuild-tel">99通電話</div>

                                            </div>
                                        </dt>

                                        <dd>
                                            <div class="newbuild-info clearfix">
                                                <div class="newbuild-name"><strong>長耀四季</strong> [北投區]</div>
                                                <div class="newbuild-price">
                                                    <strong>

                                                        91~96<small>萬/坪</small>

                                                    </strong>
                                                </div>
                                            </div>
                                            <p>
                                                    @*<i class="fa fa-quote-left mr5"></i>*@ 「長耀四季」位於北投區三合街一段82巷，由長耀建設股份有限公司投資興建，格局規劃一房18~20坪、二房24~26坪、三房32~36坪、四房51坪，交通方面有捷運奇岩站、國道一號及洲美快速道路可利用。 @*<i class="fa fa-quote-right quote-right"></i>*@ <span class="newbuild-label ml10">查看更多<em></em></span>
                                            </p>
                                        </dd>
                                        </a>
                                 </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="scroll-wrapper clearfix triggerOne_show" id="hotBuild_unknow" data-id="hotBuild">
                    <div class="clearfix">

                        <div class="scroll-main hot-builds">

                            <div class="scroll-list newbuild-hot clearfix" style="left: 0px;">
                                  <dl>
                                        <a href="//newhouse.591.com.tw/133683" target="_blank" google-data-stat="新版首頁_熱門建案_建案4-0">
                                        <dt>
                                            <span class="shoucang">
                                                <strong>32張照片</strong>
                                                <object><a data-text="133683" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                            </span>

                                            <img src="https://img1.591.com.tw/house/2023/07/31/169076430845845404.jpg!540x360.s2.jpg" alt="象山主人" width="270" height="180">
                                            <div class="newbuild-title">

                                                <div class="tel-shade"></div>
                                                <div class="newbuild-tel">33通電話</div>

                                            </div>
                                        </dt>

                                        <dd>
                                            <div class="newbuild-info clearfix">
                                                <div class="newbuild-name"><strong>象山主人</strong> [文山區]</div>
                                                <div class="newbuild-price">
                                                    <strong>

                                                        92~95<small>萬/坪</small>

                                                    </strong>
                                                </div>
                                            </div>
                                            <p>
                                                    @*<i class="fa fa-quote-left mr5"></i>*@ 「象山主人」位於台北市文山區木柵路三段49巷口，由基泰建設投資興建，格局坪數規劃二房18~26坪、三房31~34坪，交通方面有國道三號及64快速道路可利用，車程5分鐘內可達學區、公園、全聯等生活機能。 @*<i class="fa fa-quote-right quote-right"></i>*@ <span class="newbuild-label ml10">查看更多<em></em></span>
                                            </p>
                                        </dd>
                                        </a>
                                    </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="//newhouse.591.com.tw/housing-list.html?sort=5" class="btn-more mt20" google-data-stat="新版首頁_熱門建案_查看更多房源-0">查看更多</a>
           
    </section>


    <!-- For you-->
     @*<section class="carousel">
            <div class="reel">
                <div class="main-title text-center" style="margin-top:50px;">
                    <h4>推薦物件</h4>
                    <h5> Recomendation </h5>
                </div>
                <div class="col-md-12 col-sm-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <article>
                        <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
                        <header>
                        <h3><a href="#" style="font-size:15px;"><strong style ="font-size:25px;">士林創富</strong>[士林區]        55~62萬/坪</a></h3>
                        </header>
                        <p>近台北海洋科大、社子國小明星學區</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#" style="font-size:15px;"><strong style="font-size:25px;">士林創富</strong>[士林區]        55~62萬/坪</a></h3>
                        </header>
                        <p>近台北海洋科大、社子國小明星學區</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#" style="font-size:15px;"><strong style="font-size:25px;">士林創富</strong>[士林區]        55~62萬/坪</a></h3>
                        </header>
                        <p>近台北海洋科大、社子國小明星學區</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#" style="font-size:15px;"><strong style="font-size:25px;">士林創富</strong>[士林區]        55~62萬/坪</a></h3>
                        </header>
                        <p>近台北海洋科大、社子國小明星學區</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#" style="font-size:15px;"><strong style="font-size:25px;">士林創富</strong>[士林區]        55~62萬/坪</a></h3>
                        </header>
                        <p>近台北海洋科大、社子國小明星學區</p>
                    </article>

                    <article>
                    <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
                    <header>
                        <h3><a href="#" style="font-size:15px;"><strong style="font-size:25px;">士林創富</strong>[士林區]        55~62萬/坪</a></h3>
                    </header>
                    <p>近台北海洋科大、社子國小明星學區</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#" style="font-size:15px;"><strong style="font-size:25px;">士林創富</strong>[士林區]        55~62萬/坪</a></h3>
                        </header>
                        <p>近台北海洋科大、社子國小明星學區</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#" style="font-size:15px;"><strong style="font-size:25px;">士林創富</strong>[士林區]        55~62萬/坪</a></h3>
                        </header>
                        <p>近台北海洋科大、社子國小明星學區</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#" style="font-size:15px;"><strong style="font-size:25px;">士林創富</strong>[士林區]        55~62萬/坪</a></h3>
                        </header>
                        <p>近台北海洋科大、社子國小明星學區</p>
                    </article>

                    <article>
                        <a href="#" class="image featured"><img src="~/images/pic01.jpg" alt="" /></a>
                        <header>
                            <h3><a href="#" style="font-size:15px;"><strong style="font-size:25px;">士林創富</strong>[士林區]        55~62萬/坪</a></h3>
                        </header>
                        <p>近台北海洋科大、社子國小明星學區</p>
                    </article>
                    <span class="forward"></span>
                    <span class="backward"></span>
                </div>
            </div>
    </section>*@

    <section id="AboutArea" class="wn__newsletter__area newsletter--bg">
        <div class="container">
            <div class="main-title text-center" style="margin-top:50px;">
                <h4>網羅區域最熱門建案</h4>
                <h5> Hot Sale </h5>
            </div>
            <div class="row">
                <div class="scroll-wrapper mt25 clearfix triggerOne_show" id="hotBuild_unknow" data-id="hotBuild">
                    <div class="clearfix">

                        <div class="scroll-main hot-builds">

                            <div class="scroll-list newbuild-hot clearfix" style="left: 0px;">
                                <a href="javascript:;" class="arrow-prev disabled" title="向左移動"><i class="fa fa-angle-left"></i></a>
                                <dl class="selected">
                                    <a href="//newhouse.591.com.tw/134022" target="_blank" google-data-stat="新版首頁_熱門建案_建案0-0">
                                    <dt>
                                        <span class="shoucang">
                                            <strong>17張照片</strong>
                                            <object><a data-text="134022" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                        </span>

                                        <img src="https://img1.591.com.tw/house/2023/07/06/168860537332524705.jpg!540x360.s2.jpg" alt="揚昇君悅" width="270" height="180">
                                        <div class="newbuild-title">

                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">53通電話</div>

                                        </div>
                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix">
                                            <div class="newbuild-name"><strong>揚昇君悅</strong> [松山區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    5,100<small>萬/戶起</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <p>
                                                @*<i class="fa fa-quote-left mr5"></i>*@ 「揚昇君悅」位於台北市中山區八德路二段260號，格局坪數規劃二房22坪、三房30~56坪，鄰近忠孝復興捷運站，為地上21層、地下6層的新古典外觀建築外觀，使用SC鋼骨結構、日本森科嘉阻尼器。 @*<i class="fa fa-quote-right quote-right"></i>*@ <span class="newbuild-label ml10">查看更多<em></em></span>
                                        </p>
                                    </dd>
                                    </a>
                                </dl>

                                <dl>
                                    <a href="//newhouse.591.com.tw/133198" target="_blank" google-data-stat="新版首頁_熱門建案_建案1-0">
                                    <dt>
                                        <span class="shoucang">
                                            <strong>91張照片</strong>
                                            <object><a data-text="133198" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                        </span>

                                        <img src="https://img2.591.com.tw/house/2023/06/21/168733777676085202.jpg!540x360.s2.jpg" alt="將捷行書" width="270" height="180">
                                        <div class="newbuild-title">

                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">29通電話</div>

                                        </div>
                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix">
                                            <div class="newbuild-name"><strong>將捷行書</strong> [松山區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    150~160<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <p>
                                                @*<i class="fa fa-quote-left mr5"></i>*@ 「將捷行書」位於松山區三民路38號旁，由將捷股份有限公司投資興建，格局坪數規劃二房28.94、34.18坪、三房37.99坪，交通方面捷運南京三民站、國道一號、國道三號及環東大道、市民高架道路可利用。 @*<i class="fa fa-quote-right quote-right"></i>*@ <span class="newbuild-label ml10">查看更多<em></em></span>
                                        </p>
                                    </dd>
                                    </a>
                                </dl>

                                <dl>
                                    <a href="//newhouse.591.com.tw/134238" target="_blank" google-data-stat="新版首頁_熱門建案_建案2-0">
                                    <dt>
                                        <span class="shoucang">
                                            <strong>27張照片</strong>
                                            <object><a data-text="134238" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                        </span>

                                        <img src="https://img2.591.com.tw/house/2023/09/01/169355602007864307.jpg!540x360.s2.jpg" alt="亞伯信義雅晑" width="270" height="180">
                                        <div class="newbuild-title">

                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">39通電話</div>

                                        </div>
                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix">
                                            <div class="newbuild-name"><strong>亞伯信義雅晑</strong> [信義區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    168<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <p>
                                                @*<i class="fa fa-quote-left mr5"></i>*@ 「亞伯信義雅晑」位於台北市信義區永吉路30巷157弄18號，由亞伯土地開發投資興建，格局坪數規劃一房(13、15坪)、套房(10坪)，交通方面鄰近捷運市政府站，亦有國道一號可利用，生活便捷。 @*<i class="fa fa-quote-right quote-right"></i>*@ <span class="newbuild-label ml10">查看更多<em></em></span>
                                        </p>
                                    </dd>
                                    </a>
                                </dl>

                                <dl>
                                    <a href="//newhouse.591.com.tw/133023" target="_blank" google-data-stat="新版首頁_熱門建案_建案3-0">
                                    <dt>
                                        <span class="shoucang">
                                            <strong>24張照片</strong>
                                            <object><a data-text="133023" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                        </span>

                                        <img src="https://img1.591.com.tw/house/2023/07/10/168896948619108605.jpg!540x360.s2.jpg" alt="長耀四季" width="270" height="180">
                                        <div class="newbuild-title">

                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">99通電話</div>

                                        </div>
                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix">
                                            <div class="newbuild-name"><strong>長耀四季</strong> [北投區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    91~96<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <p>
                                                @*<i class="fa fa-quote-left mr5"></i>*@ 「長耀四季」位於北投區三合街一段82巷，由長耀建設股份有限公司投資興建，格局規劃一房18~20坪、二房24~26坪、三房32~36坪、四房51坪，交通方面有捷運奇岩站、國道一號及洲美快速道路可利用。 @*<i class="fa fa-quote-right quote-right"></i>*@ <span class="newbuild-label ml10">查看更多<em></em></span>
                                        </p>
                                    </dd>
                                    </a>
                                </dl>
                                <a href="javascript:;" title="向右移動" class="arrow-next"><i class="fa fa-angle-right"></i></a>
                                <dl>
                                    <a href="//newhouse.591.com.tw/133683" target="_blank" google-data-stat="新版首頁_熱門建案_建案4-0">
                                    <dt>
                                        <span class="shoucang">
                                            <strong>32張照片</strong>
                                            <object><a data-text="133683" data-colle="0" data-bind="8" google-data-stat="新版首頁_點擊收藏_新建案廣告" href="javascript:;" title="點擊收藏"></a></object>
                                        </span>

                                        <img src="https://img1.591.com.tw/house/2023/07/31/169076430845845404.jpg!540x360.s2.jpg" alt="象山主人" width="270" height="180">
                                        <div class="newbuild-title">

                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">33通電話</div>

                                        </div>
                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix">
                                            <div class="newbuild-name"><strong>象山主人</strong> [文山區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    92~95<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <p>
                                                @*<i class="fa fa-quote-left mr5"></i>*@ 「象山主人」位於台北市文山區木柵路三段49巷口，由基泰建設投資興建，格局坪數規劃二房18~26坪、三房31~34坪，交通方面有國道三號及64快速道路可利用，車程5分鐘內可達學區、公園、全聯等生活機能。 @*<i class="fa fa-quote-right quote-right"></i>*@ <span class="newbuild-label ml10">查看更多<em></em></span>
                                        </p>
                                    </dd>
                                    </a>
                                </dl>

                            </div>

                        </div>

                    </div>
                    <a href="//newhouse.591.com.tw/housing-list.html?sort=5" class="btn-more mt20" google-data-stat="新版首頁_熱門建案_查看更多房源-0">查看更多</a>
                </div>

            </div>
        </div>
    </section>



    <section id="AboutArea" class="wn__newsletter__area newsletter--bg">
        <div class="container">
            <div class="main-title text-center" style="margin-top:50px;">
                <h4>推薦建案</h4>
                <h5> Recommendation </h5>
            </div>
            <div class="row">
                <div class="scroll-wrapper mt20 clearfix triggerOne_show" style="height: 300px" id="recommendBuild_unknow" data-id="recomBuild">
                    <div class="clearfix" style="padding-top: 10px;">
                        <a href="javascript:;" class="arrow-prev disabled" title="向左移動"><i class="fa fa-angle-left"></i></a>
                        <div class="scroll-main" style="overflow: inherit">
                            <div class="scroll-list newbuild-hot clearfix" style="height: auto; left: 0px;">

                                <dl google-data-stat="新版首頁_推薦建案_建案0-0" class="selected">


                                    <a href="//newhouse.591.com.tw/135361" target="_blank">

                                    <dt style="overflow: inherit">
                                        <span class="shoucang">
                                            <strong>19張照片</strong>
                                            <object><a title="點擊收藏物件" google-data-stat="新版首頁_點擊收藏_新建案廣告" data-text="135361" data-colle="0" data-bind="8" href="javascript:;"></a></object>
                                        </span>

                                        <img src="https://img1.591.com.tw/house/2023/12/21/170312078065376201.jpg!540x360.s2.jpg" alt="馥新綻" width="270" height="180">

                                        <div class="newbuild-title">
                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">44通電話</div>
                                        </div>

                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix open-info">
                                            <div class="newbuild-name"><strong>馥新綻</strong> [北投區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    65~71<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <div class="newbuild-sale">
                                            <span class="newbuild-time">23~44坪二至三房華廈</span>
                                        </div>
                                    </dd>
                                    </a>
                                </dl>

                                <dl google-data-stat="新版首頁_推薦建案_建案1-0">


                                    <a href="//newhouse.591.com.tw/135252" target="_blank">

                                    <dt style="overflow: inherit">
                                        <span class="shoucang">
                                            <strong>20張照片</strong>
                                            <object><a title="點擊收藏物件" google-data-stat="新版首頁_點擊收藏_新建案廣告" data-text="135252" data-colle="0" data-bind="8" href="javascript:;"></a></object>
                                        </span>

                                        <img src="https://img2.591.com.tw/house/2023/12/18/170286790460010400.jpg!540x360.s2.jpg" alt="璽琚" width="270" height="180">

                                        <div class="newbuild-title">
                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">5通電話</div>
                                        </div>

                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix open-info">
                                            <div class="newbuild-name"><strong>璽琚</strong> [士林區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    114~133<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <div class="newbuild-sale">
                                            <span class="newbuild-time">20~28坪二房住宅大樓</span>
                                        </div>
                                    </dd>
                                    </a>
                                </dl>

                                <dl google-data-stat="新版首頁_推薦建案_建案2-0">


                                    <a href="//newhouse.591.com.tw/135313" target="_blank">

                                    <dt style="overflow: inherit">
                                        <span class="shoucang">
                                            <strong>21張照片</strong>
                                            <object><a title="點擊收藏物件" google-data-stat="新版首頁_點擊收藏_新建案廣告" data-text="135313" data-colle="0" data-bind="8" href="javascript:;"></a></object>
                                        </span>

                                        <img src="https://img2.591.com.tw/house/2023/12/13/170243868942384005.jpg!540x360.s2.jpg" alt="長見豐閲" width="270" height="180">

                                        <div class="newbuild-title">
                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">19通電話</div>
                                        </div>

                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix open-info">
                                            <div class="newbuild-name"><strong>長見豐閲</strong> [大同區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    110~120<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <div class="newbuild-sale">
                                            <span class="newbuild-time">21~56坪二至四房住宅大樓</span>
                                        </div>
                                    </dd>

                                </dl>

                                <dl google-data-stat="新版首頁_推薦建案_建案3-0">


                                    <a href="//newhouse.591.com.tw/134798" target="_blank">

                                    <dt style="overflow: inherit">
                                        <span class="shoucang">
                                            <strong>15張照片</strong>
                                            <object><a title="點擊收藏物件" google-data-stat="新版首頁_點擊收藏_新建案廣告" data-text="134798" data-colle="0" data-bind="8" href="javascript:;"></a></object>
                                        </span>



                                        <img src="https://img2.591.com.tw/house/2023/10/18/169762295393446804.jpg!540x360.s2.jpg" alt="中山麗池" width="270" height="180">



                                        <div class="newbuild-title">
                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">64通電話</div>
                                        </div>

                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix open-info">
                                            <div class="newbuild-name"><strong>中山麗池</strong> [中山區]</div>
                                            <div class="newbuild-price">
                                                <strong class="price-await">

                                                    價格待定

                                                </strong>
                                            </div>
                                        </div>
                                        <div class="newbuild-sale">
                                            <span class="newbuild-time">12~44坪二至三房住宅大樓</span>
                                        </div>
                                    </dd>
                                    </a>
                                </dl>

                                <dl google-data-stat="新版首頁_推薦建案_建案4-0" class="">


                                    <a href="//newhouse.591.com.tw/135094" target="_blank">

                                    <dt style="overflow: inherit">
                                        <span class="shoucang">
                                            <strong>24張照片</strong>
                                            <object><a title="點擊收藏物件" google-data-stat="新版首頁_點擊收藏_新建案廣告" data-text="135094" data-colle="0" data-bind="8" href="javascript:;"></a></object>
                                        </span>



                                        <img src="https://img2.591.com.tw/house/2023/11/13/169984846660439709.jpg!540x360.s2.jpg" alt="永信方圓" width="270" height="180">



                                        <div class="newbuild-title">
                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">19通電話</div>
                                        </div>

                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix open-info">
                                            <div class="newbuild-name"><strong>永信方圓</strong> [北投區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    86~88<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <div class="newbuild-sale">
                                            <span class="newbuild-time">32~41坪二至三房華廈</span>
                                        </div>
                                    </dd>
                                    </a>
                                </dl>

                                <dl google-data-stat="新版首頁_推薦建案_建案5-0">


                                    <a href="//newhouse.591.com.tw/135152" target="_blank">

                                    <dt style="overflow: inherit">
                                        <span class="shoucang">
                                            <strong>21張照片</strong>
                                            <object><a title="點擊收藏物件" google-data-stat="新版首頁_點擊收藏_新建案廣告" data-text="135152" data-colle="0" data-bind="8" href="javascript:;"></a></object>
                                        </span>

                                        <img src="https://img2.591.com.tw/house/2023/12/15/170262458821812308.jpg!540x360.s2.jpg" alt="中山富寓" width="270" height="180">

                                        <div class="newbuild-title">
                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">15通電話</div>
                                        </div>

                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix open-info">
                                            <div class="newbuild-name"><strong>中山富寓</strong> [中山區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    125~133<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <div class="newbuild-sale">
                                            <span class="newbuild-time">10~20坪一至二房華廈</span>
                                        </div>
                                    </dd>
                                    </a>
                                </dl>

                                <dl google-data-stat="新版首頁_推薦建案_建案6-0">


                                    <a href="//newhouse.591.com.tw/133941" target="_blank">

                                    <dt style="overflow: inherit">
                                        <span class="shoucang">
                                            <strong>27張照片</strong>
                                            <object><a title="點擊收藏物件" google-data-stat="新版首頁_點擊收藏_新建案廣告" data-text="133941" data-colle="0" data-bind="8" href="javascript:;"></a></object>
                                        </span>

                                        <img src="https://img2.591.com.tw/house/2023/10/25/169821813340093402.jpg!540x360.s2.jpg" alt="華誼信義-閱明" width="270" height="180">

                                        <div class="newbuild-title">
                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">31通電話</div>
                                        </div>

                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix open-info">
                                            <div class="newbuild-name"><strong>華誼信義-閱明</strong> [信義區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    160~190<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <div class="newbuild-sale">
                                            <span class="newbuild-time">16~35坪一至二房住宅大樓</span>
                                        </div>
                                    </dd>
                                    </a>
                                </dl>

                                <dl google-data-stat="新版首頁_推薦建案_建案7-0">


                                    <a href="//newhouse.591.com.tw/134994" target="_blank">

                                    <dt style="overflow: inherit">
                                        <span class="shoucang">
                                            <strong>32張照片</strong>
                                            <object><a title="點擊收藏物件" google-data-stat="新版首頁_點擊收藏_新建案廣告" data-text="134994" data-colle="0" data-bind="8" href="javascript:;"></a></object>
                                        </span>



                                        <img src="https://img2.591.com.tw/house/2023/12/20/170306320886584106.jpg!540x360.s2.jpg" alt="久年長慶" width="270" height="180">



                                        <div class="newbuild-title">
                                            <div class="tel-shade"></div>
                                            <div class="newbuild-tel">95通電話</div>
                                        </div>

                                    </dt>

                                    <dd>
                                        <div class="newbuild-info clearfix open-info">
                                            <div class="newbuild-name"><strong>久年長慶</strong> [大同區]</div>
                                            <div class="newbuild-price">
                                                <strong>

                                                    120~125<small>萬/坪</small>

                                                </strong>
                                            </div>
                                        </div>
                                        <div class="newbuild-sale">
                                            <span class="newbuild-time">16~31坪一至三房住宅大樓</span>
                                        </div>
                                    </dd>
                                    </a>
                                </dl>

                            </div>
                        </div>
                        <a href="javascript:;" title="向右移動" class="arrow-next"><i class="fa fa-angle-right"></i></a>
                    </div>

                    <a href="//newhouse.591.com.tw/housing-list.html?sort=9" class="btn-more mt20" google-data-stat="新版首頁_推薦建案_查看更多房源-0">查看更多&nbsp;</a>
                </div>

            </div>
        </div>
    </section>

    <!-- ABOUT -->
    @*<section id="AboutArea" class="wn__newsletter__area newsletter--bg">
        <div class="container">
            <div class="main-title text-center" style="margin-top:50px;">
                <h4>關於悅聚房屋</h4>
                <h5> About King's Clinic </h5>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 text-center wow fadeInUp" data-wow-delay="0.2s">
                    <img src="~/images/healthcare.png" class="img-responsive" alt="" style="text-align:center">
                    <h4 class="bar-title">溫暖用心</h4>
                    <div class="description">
                        <p></p>
                        <h4>在石牌像家一樣的診所</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center wow fadeInUp" data-wow-delay="0.4s">
                    <img src="~/images/WESWT-1.png" class="img-responsive" alt="" style="text-align:center">
                    <h4 class="bar-title">值得信賴</h4>
                    <div class="description">
                        <p></p>
                        <h4>高品質專業的醫療</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center wow fadeInUp" data-wow-delay="0.6s">
                    <img src="~/images/WESWT-1.png" class="img-responsive" alt="" style="text-align:center">
                    <h4 class="bar-title">耐心親切</h4>
                    <div class="description">
                        <p></p>
                        <h4>健康生活由光明點亮</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- TEAM -->
    <section id="team" data-stellar-background-ratio="1">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 text-center">
                    <div class="about-info main-title">
                        <h4 class="wow fadeInUp" data-wow-delay="0.1s">院長介紹</h4><h5 class="wow fadeInUp" data-wow-delay="0.1s">Dr.Chang</h5>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="doc-pic text-center col-md-4 col-sm-6">

                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="~/images/Funder.png" class="img-responsive" alt="" style="text-align:center">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="maindoc-text">
                        <h4>光明診所院長</h4>
                        <h5>張光明 <span>醫師 榮總專科醫師主治</span></h5>


                        <div class="col-md-5 col-sm-4 maindoc-box mb-3">
                            <h5>治療項目：</h5><p>退化性關節炎、骨質疏鬆<br />骨科復健、家庭醫學、運動傷害</p>
                        </div>
                        <div class="col-md-7 col-sm-4 maindoc-box mb-3">
                            <h5>專長：</h5><p>聚焦式體外震波、PRP再生醫學<br />玻尿酸注射、復健治療</p>
                        </div>
                        <div class="col-md-5 col-sm-4 maindoc-box">
                            <h5>現職：</h5>
                            <ul>
                                <li>
                                    光明診所 院長
                                </li>
                                <li>
                                    台北榮民總醫院特約主治醫師
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7 col-sm-4 maindoc-box">
                            <h5>學經歷：</h5>
                            <ul>
                                <li>
                                    中華民國骨科專科醫師
                                </li>
                                <li>
                                    中華民國外科專科醫師
                                </li>
                                <li>
                                    中華民國家庭醫學科專科醫師
                                </li>
                                <li>
                                    中華民國骨質疏鬆症學會專科醫師
                                </li>
                                <li>
                                    中華民國美容醫學醫學會專科醫師
                                </li>
                                <li>
                                    中華民國超音波專科醫師
                                </li>
                                <li>
                                    中華針灸醫學會專科醫師
                                </li>
                                <li>
                                    中西整合醫學會專科醫師
                                </li>
                                <li>
                                    振興醫院骨科部特約主治醫師
                                </li>
                            </ul>
                        </div>
                        @*<div class="team-contact-info">
                        <p> <a href="tel:+886-2-28210197"><i class="fa fa-phone"></i>02-2821-0197</a></p>
                        <p> <a href="mailto:Kuang_C@hotmail.com"><i class="fa fa-envelope-o"></i>Kuang_C@hotmail.com</a></p>
                        </div>
                        <ul class="social-icon">
                        <li><a href="#" class="fa fa-linkedin-square"></a></li>
                        <li><a href="mailto:Kuang_C@hotmail.com" class="fa fa-envelope-o"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-contact-info">
        </div>
    </section>
    <!-- SERVICE -->
    <section id="ServiceArea" data-stellar-background-ratio="2">
        <div class="container">
            <div class="main-title text-center">
                <h4 class="wow fadeInUp" data-wow-delay="0.1s"> 醫療項目 </h4><h5 class="wow fadeInUp" data-wow-delay="0.1s"> Service </h5>
            </div>
            <div class="row" style="margin-right:10px;margin-left:10px;">
                <div class="col-md-4 col-sm-6 service-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-pic">
                        <div class="text-center">
                            <img data-src="/images/WESWT.png" alt="體外震波治療" title="體外震波治療" class="initial loaded" src="~/images/WESWT.png" data-was-processed="true">
                        </div>
                    </div>
                    <a href="~/News/IndexESWT">
                        <div class="service-text">
                            <h4 class="text-center"> ESWT<br>聚焦式體外震波治療 </h4>
                            <div class="maindoc-box">
                                <ul>
                                    <li>非侵入性、免服藥打針、免吃藥、免麻醉、免開刀、無放射性的治療方式</li>
                                    <li>緩解疼痛症狀、抗發炎，改善生活品質，促使組織代謝循環、微血管增生，達到組織再生及修復的功能</li>
                                    <li>適應症：肩部鈣化性肌腱炎、網球肘、足底筋膜炎等沾黏勞損組織、以及長年累積傷病、運動及工作傷害、及骨折不癒合及骨壞死</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 service-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-pic">
                        <div class="text-center">
                            <img data-src="/images/PRP.png" alt="PRP再生治療" title="PRP再生治療" class="initial loaded" src="~/images/PRP.png" data-was-processed="true">
                        </div>
                    </div>
                    <a href="~/News/IndexPRP">
                        <div class="service-text">
                            <h4 class="text-center">PRP<br>再生醫學治療</h4>
                            <div class="maindoc-box">
                                <ul>
                                    <li>PRP 全名叫 Platelet-Rich Plasma （富含血小板的血漿)</li>
                                    <li>血小板內富含各種生長因子，包含 FGF、PDGF、TGF-B、EGF、VEGF、IGF</li>
                                    <li>施打在受傷的部位，促進軟組織修復再生，從根源解決各種肌骨退化疼痛問題</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 service-box wow fadeInUp" data-wow-delay="0.8s">
                    <div class="service-pic">
                        <div class="text-center">
                            <img data-src="/images/HAinject.png" alt="玻尿酸注射治療" title="玻尿酸注射治療" class="initial loaded" src="~/images/HAinject.png" data-was-processed="true">
                        </div>
                    </div>
                    <a href="~/News/IndexHA">
                        <div class="service-text">
                            <h4 class="text-center">H/A<br>玻尿酸注射治療 </h4>
                            <div class="maindoc-box">
                                <ul>
                                    <li>「玻尿酸」(Sodium hyaluronate)是一種關節保養劑直接注入退化的關節內</li>
                                    <li>具有高度的保水性、黏彈性和潤滑作用</li>
                                    <li>對關節軟骨有親和性，可覆蓋於軟骨表面保護軟骨，防止磨損及退化</li>
                                    <li>抑制發炎反應，改善關節攣縮，增加關節活動度</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="main-title text-center wow fadeInUp">
                        <h4> 最新消息 </h4><h5> News</h5>
                    </div>

                </div>

                <div class="col-md-4 col-sm-6" style="margin-top:10px;">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <a href="~/News/Index">
                            <img src="~/images/WESWTH.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>December 01, 2022</span>
                            <h3><a href="~/News/IndexESWT">體外震波治療好在哪?</br>原理、效果、注意事項說明</a></h3>
                            <p>本院使用來自德國WOLF聚焦型治療機，高階醫療工藝的代表。效率高、效果好，除了幫助止痛，更促進組織修復！</p>
                            <a href="~/News/IndexESWT" style="color:#405545">[Read more..]</a>
                            <div class="author">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Benjamin Chang</h5>
                                    <p>Director of the King's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6" style="margin-top:10px;">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <a href="~/News/Index">
                            <img src="~/images/opemtime.png" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>January 1, 2023</span>
                            <h3><a href="~/News/IndexOT">2023年度光明診所門診時間</a></h3>
                            <p>張光明&nbsp;院長</br>門診時間</p>
                            <p>請來電預約掛號，以免久候! <span class="phone-icon"><a href="tel:+886-2-28210197"><i class="fa fa-phone"></i>02-2821-0197</a></span></p>
                            <a href="~/News/IndexOT" style="color:#405545">[Read more..]</a>
                            <div class="author">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Benjamin Chang</h5>
                                    <p>Director of the King's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6" style="margin-top:10px;">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                        <a href="~/News/Index">
                            <img src="~/images/Osteoporosis.png" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>January 01, 2023</span>
                            <h3><a href="~/News/IndexOSP">骨質疏鬆&nbsp;X&nbsp;預防醫學</a></h3>
                            <p>骨質疏鬆症，預防勝於治療!</p>
                            <p>飲食+運動，輕鬆遠離骨鬆</p>
                            <p>充足補鈣，骨本熊鈣粗</p>
                            <a href="~/News/IndexOSP" style="color:#405545">[Read more..]</a>
                            <div class="author">
                                <img src="~/images/Funder.png" class="img-responsive" alt="">
                                <div class="author-info">
                                    <h5>Benjamin Chang</h5>
                                    <p>Director of the King's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>*@
    

    <!-- SCRIPTS -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/HotBuild.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</body>
</html>